// Modal window

.close {
  position: absolute;
  z-index: 1000000000000;
  top: 20px;
  right: 20px;
  $size: 20px;
  height: $size;
  width: $size;
  box-sizing: border-box;
  line-height: $size;
  display: inline-block;

  @include mediaMax($tablet-s) {
    top: 15px;
    right: 15px;
  }

  &:before, &:after {
    $width: 20px;
    $height: 3px;
    transform: rotate(-45deg);
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -$height/2;
    margin-left: -$width/2;
    display: block;
    height: $height;
    width: $width;
    transition: all 0.25s ease-out;
  }

  &:after {
    transform: rotate(-135deg);
  }

  &:hover {

    &:before, &:after {
      transform: rotate(0deg);
    }
  }
}

.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000000;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.modal {
  position: fixed;
  bottom: 50%;
  right: 50%;
  width: 100%;
  height: auto;
  max-width: 1000px;
  max-height: 90%;
  background: #fff;
  z-index: 10000000;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-out;
  transform: translateY(60%) translateX(50%);
  box-shadow: 0 0 101px 0 rgba(0, 0, 0, 0.25);
  overflow: hidden;

  &.withScroll {
    overflow: auto !important;
  }

  @include mediaMax($laptop-l) {
    height: 100%;
    max-height: 100%;
  }

  .wrapper__modal {
    overflow: auto;
    display: block;
    @include mediaMax($laptop-l) {
      height: 100%;
    }
  }

  .message {
    width: 100%;
    box-sizing: border-box;

    h2 {
      font-weight: 400;
    }

    p {
      margin-bottom: 20px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    @include mediaMax($laptop-s) {
      h1 {
        margin-top: 15px;
      }
    }
  }
}