/*------------------------------------|
|	Buttons                             |
|------------------------------------*/

.btn {
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  @include responsive-padding-top-bottom(15px, 15px);
  @include responsive-padding-left-right(27px, 27px);
  color: $colour-text-body-light;
  background-color: $brand-primary;
  border: 2px solid $brand-primary;
  text-decoration: none;
  display: inline-block;
  border-radius: 500px;
  @include responsive-font-size(15px, 17px);
  transition: background-color 0.35s cubic-bezier(0.7, 0, 0.3, 1), border-color 0.35s cubic-bezier(0.7, 0, 0.3, 1), color 0.35s cubic-bezier(0.7, 0, 0.3, 1);

  @include mediaMin($laptop-s) {
    &:focus,
    &:hover {
      background-color: $mid-green;
      border-color: $mid-green;
    }
  }

  &.white {
    background-color: $main-background;
    color: $brand-primary;

    @include mediaMin($laptop-s) {
      &:focus,
      &:hover {
        color: $mid-green;
        border-color: $mid-green;
        background-color: $main-background;
      }
    }
  }

  &.lined {
    background-color: transparent;
    color: 2px solid $brand-primary;

    @include mediaMin($laptop-s) {
      &:focus,
      &:hover {
        color: $mid-green;
        border-color: $mid-green;
      }
    }
  }

  &.spaceOnTop {
    @include responsive-margin-top-bottom(20px, 30px);
    margin-bottom: 0 !important;
  }
}

.btn:focus {
  outline: none;
}
