// ==========================================================================
// # BOX SIZING
// ==========================================================================

*,
*::before,
*::after {
    box-sizing: border-box;
}



 // Selection colour
 ::-moz-selection {
   background: $brand-primary;
   color: $colour-text-body-light;
 }
 ::selection {
   background: $brand-primary;
   color: $colour-text-body-light;
 }

body {
  font-family: $font-alpha;
  @include responsive-font-size(16px, 18px);
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: $colour-text-body;
  background-color: $main-background;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

p {
  @include responsive-font-size(16px, 18px);
  font-weight: 400;
  line-height: 1.45;
  letter-spacing: 0.5px;
  font-size: 1.125rem;
}

h1, h2, h3, h4, h5 {
  color: $brand-primary;
}

@include mediaMax($laptop-s) {
  a,
  .ham,
  .select2-container {
    text-decoration: none;
    color: $colour-text-body;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}


.flex__right {
  direction: ltr;
}

.flex__left {
  direction: rtl;
  text-align: left;
}

*:focus {
  outline: none !important;
}


main {
  //position: relative;
  //z-index: 8;
}

main {
  display: block;

  section {
    display: block;

    &.spaceOnTop {
      padding-top: $main-navigation-height;
    }
  }
}

.headerBlock {
  padding-top: 80px;

  @include mediaMax($tablet-s) {
    padding-top: 110px;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: $colour-text-body;
}

h1, h2, h3, p {
  margin: 0;
}

p {
  margin-bottom: 20px;
}

i {
  font-style: normal;
}

hr {
  margin: 0;
  border: 0;
  clear: both;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

strong {
  font-weight: 700;
}

nav {
  &.block {
    ul {
      display: block;
    }
  }
  &.inline {
    ul li {
      display: inline-block;
    }
  }
}

.pure-g {

  &.leftAlign {
    justify-content: flex-start;
  }
  &.rightAlign {
    justify-content: flex-end;
  }

  &.horizontal--scroll {

    @include mediaMax($tablet-s) {
      overflow-x: scroll;
      flex-flow: row;
      justify-content: flex-start !important;
      margin: 0 -$global-gutter / 2;
      width: calc(100% + 17px);
      overflow-y: hidden;
      -webkit-overflow-scrolling: touch;

      &::-webkit-scrollbar
      {
        height: 0;
      }

      .h--separator {
        p {
          margin: 10px;
          display: block;
        }
      }

      .pure-u-1 {
        min-width: 60% !important;
        display: inline-block;

        &:first-of-type {
          margin-left: 20px;
        }
        &:last-of-type {
          margin-right: 20px;
        }
      }
    }
  }
}

// Wrappers

.wrapper__flex {
  display: flex;

  &.fullWidth {
    width: 100%;
  }

  &.space {
    justify-content: space-between;
  }

  &.right {
    justify-content: flex-end;
  }

  &.center {
    justify-content: center;
  }

  &.reverse {
    flex-direction: row-reverse !important;
  }

  &.center--align {
    align-items: center;
    height: 100%;
  }

  &.center--justify {
    justify-content: center;
  }

  &.column {
    flex-direction: column;
  }

  &.block--onMobile {
    @include mediaMax($tablet-s) {
      display: block;
      text-align: center;
    }
  }

  &.block--onDesktop {
    display: block;
    text-align: center;
  }
}

.wrapper__relative {
  position: relative;
}

.wrapper__block {
  display: inline-block;
  width: 100%;
}

.wrapper__center {
  margin: 0 auto;
}

.wrapper__fixed {
  position: fixed;
  width: 100%;
  top: 0;
}

.wrapper--rounded {
  border-radius: 4px;

  &.double {
    border-radius: 15px;
  }
}

.wrapper__image {
  background-color: $image-placeholder;
}

.wrapper__panel {
  padding: 15px;
}

.wrapper__max {
  margin: 0 auto;

  &.width--1000 {
    max-width: 1000px;
  }

  &.width--1200 {
    max-width: 1200px;
  }

  &.width--600 {
    max-width: 600px;
  }

  &.width--800 {
    max-width: 800px;
  }

  &.width--560 {
    max-width: 800px;
  }
}

.wrapper__padding {
  @include responsive-padding-top-bottom($block-spacing-min, $block-spacing-max);

  &.top {
    @include responsive-padding-top-bottom($block-spacing-min, $block-spacing-max);
    padding-bottom: 0 !important;
  }
  &.bottom {
    @include responsive-padding-top-bottom($block-spacing-min, $block-spacing-max);
    padding-top: 0 !important;
  }
  &.top--bottom {
    @include responsive-padding-top-bottom($block-spacing-min, $block-spacing-max);
  }

  &.double {
    @include responsive-padding-top-bottom($block-spacing-min, $block-spacing-max*1.5);
  }

  &.half {
    @include responsive-padding-top-bottom($block-spacing-min/2, $block-spacing-max/2);
  }

  &.none {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.wrapper__margin {
  @include responsive-margin-top-bottom($block-spacing-min, $block-spacing-max);

  @include mediaMax($tablet-s) {
    margin-top: 0;
    margin-bottom: 0;
  }

  &.top {
    @include responsive-margin-top-bottom($block-spacing-min, $block-spacing-max);
    margin-bottom: 0 !important;
  }
  &.bottom {
    @include responsive-margin-top-bottom($block-spacing-min, $block-spacing-max);
    margin-top: 0 !important;
  }
  &.top--bottom {
    @include responsive-margin-top-bottom($block-spacing-min, $block-spacing-max);
  }

  &.double {
    @include responsive-margin-top-bottom($block-spacing-min, $block-spacing-max*2);
  }

  &.half {
    @include responsive-margin-top-bottom($block-spacing-min/2, $block-spacing-max/2);
  }

  &.none {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.wrapper__video {
  position: relative;
  overflow: hidden;

  &.active {
    .video--preview {
      transform: translateY(-100%);
    }
  }

  @include mediaMax($tablet-s) {
    margin-left: -15px;
    margin-right: -15px;
  }

  .video--preview {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    right: 0;
    bottom: 0;
    z-index: 10;
    background-size: cover;
    transition: 0.6s transform;

    &.image {
      z-index: 11;
      background-size: contain;
      background-position: left bottom;
      background-repeat: no-repeat;
    }
  }

  .embed-container {
    position: relative;
    padding-bottom: 56.3%;
    overflow: hidden;
    max-width: 100%;
    height: auto;

  }

  .embed-container iframe,
  .embed-container object,
  .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  iframe {
    width: 100%;
    height: auto;
  }
}

.wrapper__text {
  &.center {
    text-align: center;
  }

  strong {
    font-weight: 700;
  }

  p {
    @include responsive-font-size(16px, 18px);
    @include responsive-margin-top-bottom(20px, 35px);
    margin-top: 0 !important;

    &:last-of-type {
      margin: 0 !important;
    }
  }

  a {
    color: $colour-text-body;
    border-bottom: 1px solid $colour-text-body;
    transition: 0.3s all;

    @include mediaMin($laptop-s) {
      &:hover {
        color: $brand-primary;
        border-bottom: 1px solid $brand-primary;
      }
    }
  }

  caption {
    @include responsive-font-size(14px, 14px);
    text-align: left;
    margin-top: 10px;
  }

  table {
    margin: 30px auto;
    width: 100%;
    max-width: 885px;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid $colour-text-body;
    caption-side: bottom;

    thead {
      @include responsive-font-size(18px, 18px);

      span {
        margin-bottom: 15px;
        display: block;
      }

      th {
        @include responsive-padding-top-bottom(10px, 15px);
        @include responsive-padding-left-right(20px, 30px);
        border-right: 1px solid $colour-text-body;
      }
    }

    tbody {
      tr {

        td {
          text-align: center;
          border-right: 1px solid $colour-text-body;
          @include responsive-padding-top-bottom(10px, 10px);
          @include responsive-padding-left-right(20px, 30px);
        }

        &:nth-child(odd) {
          background-color: rgba($colour-text-body, 0.05);
          td {

            @include responsive-padding-top-bottom(5px, 5px);
          }
        }
      }
    }

    table {
      border: 0;
      padding-top: 10px;
      @include responsive-font-size(16px, 16px);
      table-layout: fixed;
      max-width: 480px;
      width: 100%;
      text-align: center;
      margin: 0 auto !important;

      @include mediaMax($tablet-l) {
        table-layout: auto;
      }

      tbody {
        tr {
          background-color: transparent !important;

          td {
            border: 0;
            @include responsive-padding-top-bottom(10px, 10px);
          }
        }
      }
    }
  }
}


// -----------------------
// Background color styles
// -----------------------

.wrapper__content {
  p {
    &:last-of-type {
      margin: 0;
    }
  }
}

.btn__wrapper {
  position: relative;
  z-index: 10;
}

.background__grey {
  background-color: #F7F7F7;
}

.backgorund__pale-green {
  background-color: $pale-green;
}

.background__white {
  background-color: #fff;

  h1, h2, h3, h4, h5, h6, p, ul, li {
    color: $colour-text-body;
  }

  .wrapper__text {

    a {
      color: $colour-text-body;
      border-bottom: 1px solid $colour-text-body;

      @include mediaMin($laptop-s) {
        &:hover {
          color: $brand-primary;
          border-bottom: 1px solid $brand-primary;
        }
      }
    }

    table {
      border: 1px solid $colour-text-body;

      thead {

        th {
          border-right: 1px solid $colour-text-body;
        }
      }

      tbody {
        tr {

          td {
            border-right: 1px solid $colour-text-body;
          }

          &:nth-child(odd) {
            background-color: rgba($colour-text-body, 0.05);
          }
        }
      }
    }
  }
}


.background__brand {
  background-color: $brand-primary;
}

.background__pale-green {
  background-color: $pale-green;
}

.background__mid-green {
  background-color: $mid-green;
}

.background__dark-green {
  background-color: $dark-green;
}

.background__green-gradient {
  background: $green-gradient;
}

.background__transparent {
  background-color: transparent;
}

.background__imageCenter {
  background-size: cover;
  background-position: center;
}

.background__cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overflow--hidden {
  overflow: hidden;
}

.hidden {
  display: none;
}

.white--content {

  h1, h2, h3, h4, h5, h6, p, ul, ol, li, a, i {
    color: $colour-text-body-light;
  }
}


// Responsive

.hide--onTablet {
  @include mediaMax($tablet-l) {
    display: none !important;
  }
}

.hide--onMobile {
  @include mediaMax($tablet-s) {
    display: none !important;
  }
}

.show--onTablet {
  @include mediaMin($tablet-l) {
    display: none !important;
  }
}

.show--onMobile {
  @include mediaMin($tablet-s) {
    display: none !important;
  }
}

.show--onLaptop {
  @include mediaMin($laptop-s) {
    display: none !important;
  }
}

.column--onTablet {
  @include mediaMax($tablet-l) {
    flex-flow: column !important;
  }
}


.content__general {
  p {
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  h2, .h2 {
    @include responsive-font-size-heading(30px, 40px);
    @include responsive-padding-top-bottom(26px, 32px);
    @include responsive-margin-top-bottom(10px, 40px);
    margin-bottom: 0 !important;
    //font-family: $font-alpha;
    font-weight: 300;
    text-transform: none;
  }

  h3, .h3 {
    @include responsive-font-size-heading(28px, 45px);
    @include responsive-padding-top-bottom(20px, 28px);
    @include responsive-margin-top-bottom(10px, 30px);
    margin-bottom: 0 !important;
    padding-top: 15px !important;
    font-weight: 600;
    //font-family: $font-alpha;

  }

  h4, .h4 {
    @include responsive-font-size-heading(20px, 24px);
    @include responsive-padding-top-bottom(16px, 22px);
    padding-top: 0 !important;
    @include responsive-margin-top-bottom(20px, 24px);
    margin-bottom: 0 !important;
    font-weight: 600;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  blockquote {
    background-repeat: no-repeat;
    background-position: left top;
    background-size: 7%;
    margin: 0;
    font-style: italic;
    padding: $column-spacing;
    padding-left: $column-spacing * 4;
    padding-bottom: 0;
  }

  table {
    margin-left: -$column-spacing;
    margin-right: -$column-spacing;
    margin-bottom: 1.25rem;
    width: 100%;
    tr {
      &:last-child {
        border: 0;
      }
      td, th {
        padding: ($column-spacing / 2) $column-spacing;
        &:first-child {
        }
        &:last-child {
          padding: ($column-spacing / 2) $column-spacing;
        }
      }
    }
  }

  ul,
  ol {
    list-style: none;
    padding: 0;
    padding-left: 1.5em;
    padding-bottom: 1.25rem;
    position: relative;
    li {
      text-align: left;
      &:before {
        content: '\2022';
        color: $brand-primary;
        padding-right: 0.75rem;
        display: inline-block;
        position: absolute;
        left: 0;
      }
    }
  }
  ol {
    list-style: auto;
    li {
      &:before {
        content: '';
        display: none;
      }
    }
  }

  dt,
  dd {
    padding: 0;
  }

  a {

    &:not(.btn) {
      text-decoration: none;
      transition: color 0.4s, border 0.4s;
      border-bottom: 1px solid $brand-primary;
      color: $brand-primary;

      &.button.secondary {
        margin-top: 0;
      }

      &:hover {
        color: $brand-primary;
        border-color: $brand-primary;
      }
    }
  }
}

// Imagery

.active {
  visibility: visible;
  opacity: 1;
}

.active + .modal {
  visibility: visible;
  opacity: 1;
  transform: translateY(50%) translateX(50%);
}

.list--inline {
  li {
    display: inline;
  }
}

.block--inline {
  display: inline;
}

// Custom Scroll on Chrome

.custom-scroll::-webkit-scrollbar {
  width: 5px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #ddd;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #999;
}

::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #ccc;
}

::-webkit-scrollbar
{
  width: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
  background-color: #fff;
  border: 1px solid #ccc;
  transition: 0.4s background-color;
}

// Columns

.column__left {
  @include responsive-margin-left-right(15px, 30px);
  margin-left: 0 !important;

  @include mediaMax($tablet-s) {
    margin: 0 !important;
  }
}

.column__right {
  @include responsive-margin-left-right(15px, 30px);
  margin-right: 0 !important;

  @include mediaMax($tablet-s) {
    margin: 0 !important;
  }
}

//--------------------
// BLazy vendor styles
//--------------------
.b-lazy {
  opacity:0;
  transition: opacity 0.4s cubic-bezier(0.7, 0.33, 0.43, 0.6);

  &.mask {
    opacity: 1;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: $main-background;
      transition: transform 0.7s cubic-bezier(0.7, 0, 0.3, 1);
      z-index: 2;
    }
  }

  &.opacity {
    opacity: 0;
    &:after {
      display: none !important;
    }
  }
}
.b-loaded {
  opacity:1;

  &.mask {
    &:after {
      transform: translateX(-100%);
    }
  }

  &.opacity {
    opacity: 1;
  }
}

// Columns blocks

.columns__2 {
  column-gap: 60px;
  columns: 2;

  @include mediaMax($tablet-s) {
    columns: 1;
  }
}

.columns__3 {
  column-gap: 60px;
  columns: 3;

  @include mediaMax($laptop-s) {
    columns: 2;
  }

  @include mediaMax($tablet-s) {
    columns: 1;
  }
}
