@charset "UTF-8";

@font-face {
  font-family: "14forty";
  src:url("../fonts/icon-font.woff");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "14forty" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "14forty" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
  content: "\63";
}
.icon-twitter:before {
  content: "\64";
}
.icon-facebook:before {
  content: "\61";
}
.icon-linkedin:before {
  content: "\62";
}
.icon-business:before {
  content: "\65";
}
.icon-cleaning:before {
  content: "\66";
}
.icon-guest:before {
  content: "\67";
}
.icon-hospitality:before {
  content: "\68";
}
.icon-mechanical:before {
  content: "\69";
}
.icon-outdoor:before {
  content: "\6a";
}
.icon-security:before {
  content: "\6b";
}
.icon-information:before {
  content: "\6c";
}
