/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/*!
Pure v1.0.0
Copyright 2013 Yahoo!
Licensed under the BSD License.
https://github.com/yahoo/pure/blob/master/LICENSE.md
*/
/*csslint regex-selectors:false, known-properties:false, duplicate-properties:false*/
.pure-g {
  /* Webkit: collapse white-space between units */
  *letter-spacing: normal;
  /* reset IE < 8 */
  *word-spacing: -0.43em;
  /* IE < 8: collapse white-space between units */
  text-rendering: optimizespeed;
  /* Webkit: fixes text-rendering: optimizeLegibility */
    /*
    Sets the font stack to fonts known to work properly with the above letter
    and word spacings. See: https://github.com/yahoo/pure/issues/41/

    The following font stack makes Pure Grids work on all known environments.

    * FreeSans: Ships with many Linux distros, including Ubuntu

    * Arimo: Ships with Chrome OS. Arimo has to be defined before Helvetica and
      Arial to get picked up by the browser, even though neither is available
      in Chrome OS.

    * Droid Sans: Ships with all versions of Android.

    * Helvetica, Arial, sans-serif: Common font stack on OS X and Windows.
    */
  /* Use flexbox when possible to avoid `letter-spacing` side-effects. */
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-flow: row wrap;
  /* Prevents distributing space between rows */
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* IE10 display: -ms-flexbox (and display: flex in IE 11) does not work inside a table; fall back to block and rely on font hack */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  table .pure-g {
    display: block;
  }
}
/* Opera as of 12 on Windows needs word-spacing.
   The ".opera-only" selector is used to prevent actual prefocus styling
   and is not required in markup.
*/
.opera-only :-o-prefocus, .pure-g {
  word-spacing: -0.43em;
}

.pure-u {
  display: inline-block;
  *display: inline;
  /* IE < 8: fake inline-block */
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}

/*
Resets the font family back to the OS/browser's default sans-serif font,
this the same font stack that Normalize.css sets for the `body`.
*/
.pure-u-1, .pure-u-1-1, .pure-u-1-2, .pure-u-1-3, .pure-u-2-3, .pure-u-1-4, .pure-u-3-4, .pure-u-1-5, .pure-u-2-5, .pure-u-3-5, .pure-u-4-5, .pure-u-5-5, .pure-u-1-6, .pure-u-5-6, .pure-u-1-8, .pure-u-3-8, .pure-u-5-8, .pure-u-7-8, .pure-u-1-12, .pure-u-5-12, .pure-u-7-12, .pure-u-11-12, .pure-u-1-24, .pure-u-2-24, .pure-u-3-24, .pure-u-4-24, .pure-u-5-24, .pure-u-6-24, .pure-u-7-24, .pure-u-8-24, .pure-u-9-24, .pure-u-10-24, .pure-u-11-24, .pure-u-12-24, .pure-u-13-24, .pure-u-14-24, .pure-u-15-24, .pure-u-16-24, .pure-u-17-24, .pure-u-18-24, .pure-u-19-24, .pure-u-20-24, .pure-u-21-24, .pure-u-22-24, .pure-u-23-24, .pure-u-24-24 {
  display: inline-block;
  *display: inline;
  zoom: 1;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto;
}

.pure-u-1-24 {
  width: 4.1667%;
  *width: 4.1357%;
}

.pure-u-1-12, .pure-u-2-24 {
  width: 8.3333%;
  *width: 8.3023%;
}

.pure-u-1-8, .pure-u-3-24 {
  width: 12.5000%;
  *width: 12.4690%;
}

.pure-u-1-6, .pure-u-4-24 {
  width: 16.6667%;
  *width: 16.6357%;
}

.pure-u-1-5 {
  width: 20%;
  *width: 19.9690%;
}

.pure-u-5-24 {
  width: 20.8333%;
  *width: 20.8023%;
}

.pure-u-1-4, .pure-u-6-24 {
  width: 25%;
  *width: 24.9690%;
}

.pure-u-7-24 {
  width: 29.1667%;
  *width: 29.1357%;
}

.pure-u-1-3, .pure-u-8-24 {
  width: 33.3333%;
  *width: 33.3023%;
}

.pure-u-3-8, .pure-u-9-24 {
  width: 37.5000%;
  *width: 37.4690%;
}

.pure-u-2-5 {
  width: 40%;
  *width: 39.9690%;
}

.pure-u-5-12, .pure-u-10-24 {
  width: 41.6667%;
  *width: 41.6357%;
}

.pure-u-11-24 {
  width: 45.8333%;
  *width: 45.8023%;
}

.pure-u-1-2, .pure-u-12-24 {
  width: 50%;
  *width: 49.9690%;
}

.pure-u-13-24 {
  width: 54.1667%;
  *width: 54.1357%;
}

.pure-u-7-12, .pure-u-14-24 {
  width: 58.3333%;
  *width: 58.3023%;
}

.pure-u-3-5 {
  width: 60%;
  *width: 59.9690%;
}

.pure-u-5-8, .pure-u-15-24 {
  width: 62.5000%;
  *width: 62.4690%;
}

.pure-u-2-3, .pure-u-16-24 {
  width: 66.6667%;
  *width: 66.6357%;
}

.pure-u-17-24 {
  width: 70.8333%;
  *width: 70.8023%;
}

.pure-u-3-4, .pure-u-18-24 {
  width: 75%;
  *width: 74.9690%;
}

.pure-u-19-24 {
  width: 79.1667%;
  *width: 79.1357%;
}

.pure-u-4-5 {
  width: 80%;
  *width: 79.9690%;
}

.pure-u-5-6, .pure-u-20-24 {
  width: 83.3333%;
  *width: 83.3023%;
}

.pure-u-7-8, .pure-u-21-24 {
  width: 87.5000%;
  *width: 87.4690%;
}

.pure-u-11-12, .pure-u-22-24 {
  width: 91.6667%;
  *width: 91.6357%;
}

.pure-u-23-24 {
  width: 95.8333%;
  *width: 95.8023%;
}

.pure-u-1, .pure-u-1-1, .pure-u-5-5, .pure-u-24-24 {
  width: 100%;
}

/*!
Pure v1.0.0
Copyright 2013 Yahoo!
Licensed under the BSD License.
https://github.com/yahoo/pure/blob/master/LICENSE.md
*/
@media screen and (min-width: 35.5em) {
  .pure-u-sm-1, .pure-u-sm-1-1, .pure-u-sm-1-2, .pure-u-sm-1-3, .pure-u-sm-2-3, .pure-u-sm-1-4, .pure-u-sm-3-4, .pure-u-sm-1-5, .pure-u-sm-2-5, .pure-u-sm-3-5, .pure-u-sm-4-5, .pure-u-sm-5-5, .pure-u-sm-1-6, .pure-u-sm-5-6, .pure-u-sm-1-8, .pure-u-sm-3-8, .pure-u-sm-5-8, .pure-u-sm-7-8, .pure-u-sm-1-12, .pure-u-sm-5-12, .pure-u-sm-7-12, .pure-u-sm-11-12, .pure-u-sm-1-24, .pure-u-sm-2-24, .pure-u-sm-3-24, .pure-u-sm-4-24, .pure-u-sm-5-24, .pure-u-sm-6-24, .pure-u-sm-7-24, .pure-u-sm-8-24, .pure-u-sm-9-24, .pure-u-sm-10-24, .pure-u-sm-11-24, .pure-u-sm-12-24, .pure-u-sm-13-24, .pure-u-sm-14-24, .pure-u-sm-15-24, .pure-u-sm-16-24, .pure-u-sm-17-24, .pure-u-sm-18-24, .pure-u-sm-19-24, .pure-u-sm-20-24, .pure-u-sm-21-24, .pure-u-sm-22-24, .pure-u-sm-23-24, .pure-u-sm-24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }

  .pure-u-sm-1-24 {
    width: 4.1667%;
    *width: 4.1357%;
  }

  .pure-u-sm-1-12, .pure-u-sm-2-24 {
    width: 8.3333%;
    *width: 8.3023%;
  }

  .pure-u-sm-1-8, .pure-u-sm-3-24 {
    width: 12.5000%;
    *width: 12.4690%;
  }

  .pure-u-sm-1-6, .pure-u-sm-4-24 {
    width: 16.6667%;
    *width: 16.6357%;
  }

  .pure-u-sm-1-5 {
    width: 20%;
    *width: 19.9690%;
  }

  .pure-u-sm-5-24 {
    width: 20.8333%;
    *width: 20.8023%;
  }

  .pure-u-sm-1-4, .pure-u-sm-6-24 {
    width: 25%;
    *width: 24.9690%;
  }

  .pure-u-sm-7-24 {
    width: 29.1667%;
    *width: 29.1357%;
  }

  .pure-u-sm-1-3, .pure-u-sm-8-24 {
    width: 33.3333%;
    *width: 33.3023%;
  }

  .pure-u-sm-3-8, .pure-u-sm-9-24 {
    width: 37.5000%;
    *width: 37.4690%;
  }

  .pure-u-sm-2-5 {
    width: 40%;
    *width: 39.9690%;
  }

  .pure-u-sm-5-12, .pure-u-sm-10-24 {
    width: 41.6667%;
    *width: 41.6357%;
  }

  .pure-u-sm-11-24 {
    width: 45.8333%;
    *width: 45.8023%;
  }

  .pure-u-sm-1-2, .pure-u-sm-12-24 {
    width: 50%;
    *width: 49.9690%;
  }

  .pure-u-sm-13-24 {
    width: 54.1667%;
    *width: 54.1357%;
  }

  .pure-u-sm-7-12, .pure-u-sm-14-24 {
    width: 58.3333%;
    *width: 58.3023%;
  }

  .pure-u-sm-3-5 {
    width: 60%;
    *width: 59.9690%;
  }

  .pure-u-sm-5-8, .pure-u-sm-15-24 {
    width: 62.5000%;
    *width: 62.4690%;
  }

  .pure-u-sm-2-3, .pure-u-sm-16-24 {
    width: 66.6667%;
    *width: 66.6357%;
  }

  .pure-u-sm-17-24 {
    width: 70.8333%;
    *width: 70.8023%;
  }

  .pure-u-sm-3-4, .pure-u-sm-18-24 {
    width: 75%;
    *width: 74.9690%;
  }

  .pure-u-sm-19-24 {
    width: 79.1667%;
    *width: 79.1357%;
  }

  .pure-u-sm-4-5 {
    width: 80%;
    *width: 79.9690%;
  }

  .pure-u-sm-5-6, .pure-u-sm-20-24 {
    width: 83.3333%;
    *width: 83.3023%;
  }

  .pure-u-sm-7-8, .pure-u-sm-21-24 {
    width: 87.5000%;
    *width: 87.4690%;
  }

  .pure-u-sm-11-12, .pure-u-sm-22-24 {
    width: 91.6667%;
    *width: 91.6357%;
  }

  .pure-u-sm-23-24 {
    width: 95.8333%;
    *width: 95.8023%;
  }

  .pure-u-sm-1, .pure-u-sm-1-1, .pure-u-sm-5-5, .pure-u-sm-24-24 {
    width: 100%;
  }
}
@media screen and (min-width: 48em) {
  .pure-u-md-1, .pure-u-md-1-1, .pure-u-md-1-2, .pure-u-md-1-3, .pure-u-md-2-3, .pure-u-md-1-4, .pure-u-md-3-4, .pure-u-md-1-5, .pure-u-md-2-5, .pure-u-md-3-5, .pure-u-md-4-5, .pure-u-md-5-5, .pure-u-md-1-6, .pure-u-md-5-6, .pure-u-md-1-8, .pure-u-md-3-8, .pure-u-md-5-8, .pure-u-md-7-8, .pure-u-md-1-12, .pure-u-md-5-12, .pure-u-md-7-12, .pure-u-md-11-12, .pure-u-md-1-24, .pure-u-md-2-24, .pure-u-md-3-24, .pure-u-md-4-24, .pure-u-md-5-24, .pure-u-md-6-24, .pure-u-md-7-24, .pure-u-md-8-24, .pure-u-md-9-24, .pure-u-md-10-24, .pure-u-md-11-24, .pure-u-md-12-24, .pure-u-md-13-24, .pure-u-md-14-24, .pure-u-md-15-24, .pure-u-md-16-24, .pure-u-md-17-24, .pure-u-md-18-24, .pure-u-md-19-24, .pure-u-md-20-24, .pure-u-md-21-24, .pure-u-md-22-24, .pure-u-md-23-24, .pure-u-md-24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }

  .pure-u-md-1-24 {
    width: 4.1667%;
    *width: 4.1357%;
  }

  .pure-u-md-1-12, .pure-u-md-2-24 {
    width: 8.3333%;
    *width: 8.3023%;
  }

  .pure-u-md-1-8, .pure-u-md-3-24 {
    width: 12.5000%;
    *width: 12.4690%;
  }

  .pure-u-md-1-6, .pure-u-md-4-24 {
    width: 16.6667%;
    *width: 16.6357%;
  }

  .pure-u-md-1-5 {
    width: 20%;
    *width: 19.9690%;
  }

  .pure-u-md-5-24 {
    width: 20.8333%;
    *width: 20.8023%;
  }

  .pure-u-md-1-4, .pure-u-md-6-24 {
    width: 25%;
    *width: 24.9690%;
  }

  .pure-u-md-7-24 {
    width: 29.1667%;
    *width: 29.1357%;
  }

  .pure-u-md-1-3, .pure-u-md-8-24 {
    width: 33.3333%;
    *width: 33.3023%;
  }

  .pure-u-md-3-8, .pure-u-md-9-24 {
    width: 37.5000%;
    *width: 37.4690%;
  }

  .pure-u-md-2-5 {
    width: 40%;
    *width: 39.9690%;
  }

  .pure-u-md-5-12, .pure-u-md-10-24 {
    width: 41.6667%;
    *width: 41.6357%;
  }

  .pure-u-md-11-24 {
    width: 45.8333%;
    *width: 45.8023%;
  }

  .pure-u-md-1-2, .pure-u-md-12-24 {
    width: 50%;
    *width: 49.9690%;
  }

  .pure-u-md-13-24 {
    width: 54.1667%;
    *width: 54.1357%;
  }

  .pure-u-md-7-12, .pure-u-md-14-24 {
    width: 58.3333%;
    *width: 58.3023%;
  }

  .pure-u-md-3-5 {
    width: 60%;
    *width: 59.9690%;
  }

  .pure-u-md-5-8, .pure-u-md-15-24 {
    width: 62.5000%;
    *width: 62.4690%;
  }

  .pure-u-md-2-3, .pure-u-md-16-24 {
    width: 66.6667%;
    *width: 66.6357%;
  }

  .pure-u-md-17-24 {
    width: 70.8333%;
    *width: 70.8023%;
  }

  .pure-u-md-3-4, .pure-u-md-18-24 {
    width: 75%;
    *width: 74.9690%;
  }

  .pure-u-md-19-24 {
    width: 79.1667%;
    *width: 79.1357%;
  }

  .pure-u-md-4-5 {
    width: 80%;
    *width: 79.9690%;
  }

  .pure-u-md-5-6, .pure-u-md-20-24 {
    width: 83.3333%;
    *width: 83.3023%;
  }

  .pure-u-md-7-8, .pure-u-md-21-24 {
    width: 87.5000%;
    *width: 87.4690%;
  }

  .pure-u-md-11-12, .pure-u-md-22-24 {
    width: 91.6667%;
    *width: 91.6357%;
  }

  .pure-u-md-23-24 {
    width: 95.8333%;
    *width: 95.8023%;
  }

  .pure-u-md-1, .pure-u-md-1-1, .pure-u-md-5-5, .pure-u-md-24-24 {
    width: 100%;
  }
}
@media screen and (min-width: 64em) {
  .pure-u-lg-1, .pure-u-lg-1-1, .pure-u-lg-1-2, .pure-u-lg-1-3, .pure-u-lg-2-3, .pure-u-lg-1-4, .pure-u-lg-3-4, .pure-u-lg-1-5, .pure-u-lg-2-5, .pure-u-lg-3-5, .pure-u-lg-4-5, .pure-u-lg-5-5, .pure-u-lg-1-6, .pure-u-lg-5-6, .pure-u-lg-1-8, .pure-u-lg-3-8, .pure-u-lg-5-8, .pure-u-lg-7-8, .pure-u-lg-1-12, .pure-u-lg-5-12, .pure-u-lg-7-12, .pure-u-lg-11-12, .pure-u-lg-1-24, .pure-u-lg-2-24, .pure-u-lg-3-24, .pure-u-lg-4-24, .pure-u-lg-5-24, .pure-u-lg-6-24, .pure-u-lg-7-24, .pure-u-lg-8-24, .pure-u-lg-9-24, .pure-u-lg-10-24, .pure-u-lg-11-24, .pure-u-lg-12-24, .pure-u-lg-13-24, .pure-u-lg-14-24, .pure-u-lg-15-24, .pure-u-lg-16-24, .pure-u-lg-17-24, .pure-u-lg-18-24, .pure-u-lg-19-24, .pure-u-lg-20-24, .pure-u-lg-21-24, .pure-u-lg-22-24, .pure-u-lg-23-24, .pure-u-lg-24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }

  .pure-u-lg-1-24 {
    width: 4.1667%;
    *width: 4.1357%;
  }

  .pure-u-lg-1-12, .pure-u-lg-2-24 {
    width: 8.3333%;
    *width: 8.3023%;
  }

  .pure-u-lg-1-8, .pure-u-lg-3-24 {
    width: 12.5000%;
    *width: 12.4690%;
  }

  .pure-u-lg-1-6, .pure-u-lg-4-24 {
    width: 16.6667%;
    *width: 16.6357%;
  }

  .pure-u-lg-1-5 {
    width: 20%;
    *width: 19.9690%;
  }

  .pure-u-lg-5-24 {
    width: 20.8333%;
    *width: 20.8023%;
  }

  .pure-u-lg-1-4, .pure-u-lg-6-24 {
    width: 25%;
    *width: 24.9690%;
  }

  .pure-u-lg-7-24 {
    width: 29.1667%;
    *width: 29.1357%;
  }

  .pure-u-lg-1-3, .pure-u-lg-8-24 {
    width: 33.3333%;
    *width: 33.3023%;
  }

  .pure-u-lg-3-8, .pure-u-lg-9-24 {
    width: 37.5000%;
    *width: 37.4690%;
  }

  .pure-u-lg-2-5 {
    width: 40%;
    *width: 39.9690%;
  }

  .pure-u-lg-5-12, .pure-u-lg-10-24 {
    width: 41.6667%;
    *width: 41.6357%;
  }

  .pure-u-lg-11-24 {
    width: 45.8333%;
    *width: 45.8023%;
  }

  .pure-u-lg-1-2, .pure-u-lg-12-24 {
    width: 50%;
    *width: 49.9690%;
  }

  .pure-u-lg-13-24 {
    width: 54.1667%;
    *width: 54.1357%;
  }

  .pure-u-lg-7-12, .pure-u-lg-14-24 {
    width: 58.3333%;
    *width: 58.3023%;
  }

  .pure-u-lg-3-5 {
    width: 60%;
    *width: 59.9690%;
  }

  .pure-u-lg-5-8, .pure-u-lg-15-24 {
    width: 62.5000%;
    *width: 62.4690%;
  }

  .pure-u-lg-2-3, .pure-u-lg-16-24 {
    width: 66.6667%;
    *width: 66.6357%;
  }

  .pure-u-lg-17-24 {
    width: 70.8333%;
    *width: 70.8023%;
  }

  .pure-u-lg-3-4, .pure-u-lg-18-24 {
    width: 75%;
    *width: 74.9690%;
  }

  .pure-u-lg-19-24 {
    width: 79.1667%;
    *width: 79.1357%;
  }

  .pure-u-lg-4-5 {
    width: 80%;
    *width: 79.9690%;
  }

  .pure-u-lg-5-6, .pure-u-lg-20-24 {
    width: 83.3333%;
    *width: 83.3023%;
  }

  .pure-u-lg-7-8, .pure-u-lg-21-24 {
    width: 87.5000%;
    *width: 87.4690%;
  }

  .pure-u-lg-11-12, .pure-u-lg-22-24 {
    width: 91.6667%;
    *width: 91.6357%;
  }

  .pure-u-lg-23-24 {
    width: 95.8333%;
    *width: 95.8023%;
  }

  .pure-u-lg-1, .pure-u-lg-1-1, .pure-u-lg-5-5, .pure-u-lg-24-24 {
    width: 100%;
  }
}
@media screen and (min-width: 80em) {
  .pure-u-xl-1, .pure-u-xl-1-1, .pure-u-xl-1-2, .pure-u-xl-1-3, .pure-u-xl-2-3, .pure-u-xl-1-4, .pure-u-xl-3-4, .pure-u-xl-1-5, .pure-u-xl-2-5, .pure-u-xl-3-5, .pure-u-xl-4-5, .pure-u-xl-5-5, .pure-u-xl-1-6, .pure-u-xl-5-6, .pure-u-xl-1-8, .pure-u-xl-3-8, .pure-u-xl-5-8, .pure-u-xl-7-8, .pure-u-xl-1-12, .pure-u-xl-5-12, .pure-u-xl-7-12, .pure-u-xl-11-12, .pure-u-xl-1-24, .pure-u-xl-2-24, .pure-u-xl-3-24, .pure-u-xl-4-24, .pure-u-xl-5-24, .pure-u-xl-6-24, .pure-u-xl-7-24, .pure-u-xl-8-24, .pure-u-xl-9-24, .pure-u-xl-10-24, .pure-u-xl-11-24, .pure-u-xl-12-24, .pure-u-xl-13-24, .pure-u-xl-14-24, .pure-u-xl-15-24, .pure-u-xl-16-24, .pure-u-xl-17-24, .pure-u-xl-18-24, .pure-u-xl-19-24, .pure-u-xl-20-24, .pure-u-xl-21-24, .pure-u-xl-22-24, .pure-u-xl-23-24, .pure-u-xl-24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
  }

  .pure-u-xl-1-24 {
    width: 4.1667%;
    *width: 4.1357%;
  }

  .pure-u-xl-1-12, .pure-u-xl-2-24 {
    width: 8.3333%;
    *width: 8.3023%;
  }

  .pure-u-xl-1-8, .pure-u-xl-3-24 {
    width: 12.5000%;
    *width: 12.4690%;
  }

  .pure-u-xl-1-6, .pure-u-xl-4-24 {
    width: 16.6667%;
    *width: 16.6357%;
  }

  .pure-u-xl-1-5 {
    width: 20%;
    *width: 19.9690%;
  }

  .pure-u-xl-5-24 {
    width: 20.8333%;
    *width: 20.8023%;
  }

  .pure-u-xl-1-4, .pure-u-xl-6-24 {
    width: 25%;
    *width: 24.9690%;
  }

  .pure-u-xl-7-24 {
    width: 29.1667%;
    *width: 29.1357%;
  }

  .pure-u-xl-1-3, .pure-u-xl-8-24 {
    width: 33.3333%;
    *width: 33.3023%;
  }

  .pure-u-xl-3-8, .pure-u-xl-9-24 {
    width: 37.5000%;
    *width: 37.4690%;
  }

  .pure-u-xl-2-5 {
    width: 40%;
    *width: 39.9690%;
  }

  .pure-u-xl-5-12, .pure-u-xl-10-24 {
    width: 41.6667%;
    *width: 41.6357%;
  }

  .pure-u-xl-11-24 {
    width: 45.8333%;
    *width: 45.8023%;
  }

  .pure-u-xl-1-2, .pure-u-xl-12-24 {
    width: 50%;
    *width: 49.9690%;
  }

  .pure-u-xl-13-24 {
    width: 54.1667%;
    *width: 54.1357%;
  }

  .pure-u-xl-7-12, .pure-u-xl-14-24 {
    width: 58.3333%;
    *width: 58.3023%;
  }

  .pure-u-xl-3-5 {
    width: 60%;
    *width: 59.9690%;
  }

  .pure-u-xl-5-8, .pure-u-xl-15-24 {
    width: 62.5000%;
    *width: 62.4690%;
  }

  .pure-u-xl-2-3, .pure-u-xl-16-24 {
    width: 66.6667%;
    *width: 66.6357%;
  }

  .pure-u-xl-17-24 {
    width: 70.8333%;
    *width: 70.8023%;
  }

  .pure-u-xl-3-4, .pure-u-xl-18-24 {
    width: 75%;
    *width: 74.9690%;
  }

  .pure-u-xl-19-24 {
    width: 79.1667%;
    *width: 79.1357%;
  }

  .pure-u-xl-4-5 {
    width: 80%;
    *width: 79.9690%;
  }

  .pure-u-xl-5-6, .pure-u-xl-20-24 {
    width: 83.3333%;
    *width: 83.3023%;
  }

  .pure-u-xl-7-8, .pure-u-xl-21-24 {
    width: 87.5000%;
    *width: 87.4690%;
  }

  .pure-u-xl-11-12, .pure-u-xl-22-24 {
    width: 91.6667%;
    *width: 91.6357%;
  }

  .pure-u-xl-23-24 {
    width: 95.8333%;
    *width: 95.8023%;
  }

  .pure-u-xl-1, .pure-u-xl-1-1, .pure-u-xl-5-5, .pure-u-xl-24-24 {
    width: 100%;
  }
}
/* Responsive Font size */
/* Responsive Padding */
/* Responsive Padding */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

::-moz-selection {
  background: #70AB37;
  color: #fff;
}

::selection {
  background: #70AB37;
  color: #fff;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #3C3C3C;
  background-color: #fff;
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}
body {
  font-size: 16px;
  line-height: 24.96px;
}
@media (min-width: 360px) and (max-width: 1650px) {
  body {
    font-size: calc( 16px + 2 * (100vw - 360px) / 1290 );
    line-height: calc(( 16px + 2 * (100vw - 360px) / 1290) * 1.56 );
  }
}
@media (min-width: 1650px) {
  body {
    font-size: 18px;
    line-height: 28.08px;
  }
}

p {
  font-weight: 400;
  line-height: 1.45;
  letter-spacing: 0.5px;
  font-size: 1.125rem;
}
p {
  font-size: 16px;
  line-height: 24.96px;
}
@media (min-width: 360px) and (max-width: 1650px) {
  p {
    font-size: calc( 16px + 2 * (100vw - 360px) / 1290 );
    line-height: calc(( 16px + 2 * (100vw - 360px) / 1290) * 1.56 );
  }
}
@media (min-width: 1650px) {
  p {
    font-size: 18px;
    line-height: 28.08px;
  }
}

h1, h2, h3, h4, h5 {
  color: #70AB37;
}

@media (max-width: 1279px) {
  a,
  .ham,
  .select2-container {
    text-decoration: none;
    color: #3C3C3C;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}
.flex__right {
  direction: ltr;
}

.flex__left {
  direction: rtl;
  text-align: left;
}

*:focus {
  outline: none !important;
}

main {
  display: block;
}
main section {
  display: block;
}
main section.spaceOnTop {
  padding-top: 130px;
}

.headerBlock {
  padding-top: 80px;
}
@media (max-width: 767px) {
  .headerBlock {
    padding-top: 110px;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #3C3C3C;
}

h1, h2, h3, p {
  margin: 0;
}

p {
  margin-bottom: 20px;
}

i {
  font-style: normal;
}

hr {
  margin: 0;
  border: 0;
  clear: both;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

strong {
  font-weight: 700;
}

nav.block ul {
  display: block;
}
nav.inline ul li {
  display: inline-block;
}

.pure-g.leftAlign {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.pure-g.rightAlign {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
@media (max-width: 767px) {
  .pure-g.horizontal--scroll {
    overflow-x: scroll;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: start !important;
    -webkit-justify-content: flex-start !important;
        -ms-flex-pack: start !important;
            justify-content: flex-start !important;
    margin: -10px;
    width: calc(100% + 17px);
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
  }
  .pure-g.horizontal--scroll::-webkit-scrollbar {
    height: 0;
  }
  .pure-g.horizontal--scroll .h--separator p {
    margin: 10px;
    display: block;
  }
  .pure-g.horizontal--scroll .pure-u-1 {
    min-width: 60% !important;
    display: inline-block;
  }
  .pure-g.horizontal--scroll .pure-u-1:first-of-type {
    margin-left: 20px;
  }
  .pure-g.horizontal--scroll .pure-u-1:last-of-type {
    margin-right: 20px;
  }
}

.wrapper__flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.wrapper__flex.fullWidth {
  width: 100%;
}
.wrapper__flex.space {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.wrapper__flex.right {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.wrapper__flex.center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.wrapper__flex.reverse {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: reverse !important;
  -webkit-flex-direction: row-reverse !important;
      -ms-flex-direction: row-reverse !important;
          flex-direction: row-reverse !important;
}
.wrapper__flex.center--align {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.wrapper__flex.center--justify {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.wrapper__flex.column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 767px) {
  .wrapper__flex.block--onMobile {
    display: block;
    text-align: center;
  }
}
.wrapper__flex.block--onDesktop {
  display: block;
  text-align: center;
}

.wrapper__relative {
  position: relative;
}

.wrapper__block {
  display: inline-block;
  width: 100%;
}

.wrapper__center {
  margin: 0 auto;
}

.wrapper__fixed {
  position: fixed;
  width: 100%;
  top: 0;
}

.wrapper--rounded {
  -webkit-border-radius: 4px;
          border-radius: 4px;
}
.wrapper--rounded.double {
  -webkit-border-radius: 15px;
          border-radius: 15px;
}

.wrapper__image {
  background-color: #eaeaea;
}

.wrapper__panel {
  padding: 15px;
}

.wrapper__max {
  margin: 0 auto;
}
.wrapper__max.width--1000 {
  max-width: 1000px;
}
.wrapper__max.width--1200 {
  max-width: 1200px;
}
.wrapper__max.width--600 {
  max-width: 600px;
}
.wrapper__max.width--800 {
  max-width: 800px;
}
.wrapper__max.width--560 {
  max-width: 800px;
}

.wrapper__padding {
  padding-top: 40px;
  padding-bottom: 40px;
}
@media (min-width: 360px) and (max-width: 1638px) {
  .wrapper__padding {
    padding-top: calc( 40px + 50 * (100vw - 360px) / 1278 );
    padding-bottom: calc( 40px + 50 * (100vw - 360px) / 1278 );
  }
}
@media (min-width: 1638px) {
  .wrapper__padding {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}
.wrapper__padding.top {
  padding-bottom: 0 !important;
}
.wrapper__padding.top {
  padding-top: 40px;
  padding-bottom: 40px;
}
@media (min-width: 360px) and (max-width: 1638px) {
  .wrapper__padding.top {
    padding-top: calc( 40px + 50 * (100vw - 360px) / 1278 );
    padding-bottom: calc( 40px + 50 * (100vw - 360px) / 1278 );
  }
}
@media (min-width: 1638px) {
  .wrapper__padding.top {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}
.wrapper__padding.bottom {
  padding-top: 0 !important;
}
.wrapper__padding.bottom {
  padding-top: 40px;
  padding-bottom: 40px;
}
@media (min-width: 360px) and (max-width: 1638px) {
  .wrapper__padding.bottom {
    padding-top: calc( 40px + 50 * (100vw - 360px) / 1278 );
    padding-bottom: calc( 40px + 50 * (100vw - 360px) / 1278 );
  }
}
@media (min-width: 1638px) {
  .wrapper__padding.bottom {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}
.wrapper__padding.top--bottom {
  padding-top: 40px;
  padding-bottom: 40px;
}
@media (min-width: 360px) and (max-width: 1638px) {
  .wrapper__padding.top--bottom {
    padding-top: calc( 40px + 50 * (100vw - 360px) / 1278 );
    padding-bottom: calc( 40px + 50 * (100vw - 360px) / 1278 );
  }
}
@media (min-width: 1638px) {
  .wrapper__padding.top--bottom {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}
.wrapper__padding.double {
  padding-top: 40px;
  padding-bottom: 40px;
}
@media (min-width: 360px) and (max-width: 1638px) {
  .wrapper__padding.double {
    padding-top: calc( 40px + 95 * (100vw - 360px) / 1278 );
    padding-bottom: calc( 40px + 95 * (100vw - 360px) / 1278 );
  }
}
@media (min-width: 1638px) {
  .wrapper__padding.double {
    padding-top: 135px;
    padding-bottom: 135px;
  }
}
.wrapper__padding.half {
  padding-top: 20px;
  padding-bottom: 20px;
}
@media (min-width: 360px) and (max-width: 1638px) {
  .wrapper__padding.half {
    padding-top: calc( 20px + 25 * (100vw - 360px) / 1278 );
    padding-bottom: calc( 20px + 25 * (100vw - 360px) / 1278 );
  }
}
@media (min-width: 1638px) {
  .wrapper__padding.half {
    padding-top: 45px;
    padding-bottom: 45px;
  }
}
.wrapper__padding.none {
  padding-top: 0;
  padding-bottom: 0;
}

.wrapper__margin {
  margin-top: 40px;
  margin-bottom: 40px;
}
@media (min-width: 360px) and (max-width: 1638px) {
  .wrapper__margin {
    margin-top: calc( 40px + 50 * (100vw - 360px) / 1278 );
    margin-bottom: calc( 40px + 50 * (100vw - 360px) / 1278 );
  }
}
@media (min-width: 1638px) {
  .wrapper__margin {
    margin-top: 90px;
    margin-bottom: 90px;
  }
}
@media (max-width: 767px) {
  .wrapper__margin {
    margin-top: 0;
    margin-bottom: 0;
  }
}
.wrapper__margin.top {
  margin-bottom: 0 !important;
}
.wrapper__margin.top {
  margin-top: 40px;
  margin-bottom: 40px;
}
@media (min-width: 360px) and (max-width: 1638px) {
  .wrapper__margin.top {
    margin-top: calc( 40px + 50 * (100vw - 360px) / 1278 );
    margin-bottom: calc( 40px + 50 * (100vw - 360px) / 1278 );
  }
}
@media (min-width: 1638px) {
  .wrapper__margin.top {
    margin-top: 90px;
    margin-bottom: 90px;
  }
}
.wrapper__margin.bottom {
  margin-top: 0 !important;
}
.wrapper__margin.bottom {
  margin-top: 40px;
  margin-bottom: 40px;
}
@media (min-width: 360px) and (max-width: 1638px) {
  .wrapper__margin.bottom {
    margin-top: calc( 40px + 50 * (100vw - 360px) / 1278 );
    margin-bottom: calc( 40px + 50 * (100vw - 360px) / 1278 );
  }
}
@media (min-width: 1638px) {
  .wrapper__margin.bottom {
    margin-top: 90px;
    margin-bottom: 90px;
  }
}
.wrapper__margin.top--bottom {
  margin-top: 40px;
  margin-bottom: 40px;
}
@media (min-width: 360px) and (max-width: 1638px) {
  .wrapper__margin.top--bottom {
    margin-top: calc( 40px + 50 * (100vw - 360px) / 1278 );
    margin-bottom: calc( 40px + 50 * (100vw - 360px) / 1278 );
  }
}
@media (min-width: 1638px) {
  .wrapper__margin.top--bottom {
    margin-top: 90px;
    margin-bottom: 90px;
  }
}
.wrapper__margin.double {
  margin-top: 40px;
  margin-bottom: 40px;
}
@media (min-width: 360px) and (max-width: 1638px) {
  .wrapper__margin.double {
    margin-top: calc( 40px + 140 * (100vw - 360px) / 1278 );
    margin-bottom: calc( 40px + 140 * (100vw - 360px) / 1278 );
  }
}
@media (min-width: 1638px) {
  .wrapper__margin.double {
    margin-top: 180px;
    margin-bottom: 180px;
  }
}
.wrapper__margin.half {
  margin-top: 20px;
  margin-bottom: 20px;
}
@media (min-width: 360px) and (max-width: 1638px) {
  .wrapper__margin.half {
    margin-top: calc( 20px + 25 * (100vw - 360px) / 1278 );
    margin-bottom: calc( 20px + 25 * (100vw - 360px) / 1278 );
  }
}
@media (min-width: 1638px) {
  .wrapper__margin.half {
    margin-top: 45px;
    margin-bottom: 45px;
  }
}
.wrapper__margin.none {
  margin-top: 0;
  margin-bottom: 0;
}

.wrapper__video {
  position: relative;
  overflow: hidden;
}
.wrapper__video.active .video--preview {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}
@media (max-width: 767px) {
  .wrapper__video {
    margin-left: -15px;
    margin-right: -15px;
  }
}
.wrapper__video .video--preview {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  bottom: 0;
  z-index: 10;
  -webkit-background-size: cover;
          background-size: cover;
  -webkit-transition: 0.6s -webkit-transform;
  transition: 0.6s -webkit-transform;
  -o-transition: 0.6s transform;
  transition: 0.6s transform;
  transition: 0.6s transform, 0.6s -webkit-transform;
}
.wrapper__video .video--preview.image {
  z-index: 11;
  -webkit-background-size: contain;
          background-size: contain;
  background-position: left bottom;
  background-repeat: no-repeat;
}
.wrapper__video .embed-container {
  position: relative;
  padding-bottom: 56.3%;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}
.wrapper__video .embed-container iframe,
.wrapper__video .embed-container object,
.wrapper__video .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.wrapper__video iframe {
  width: 100%;
  height: auto;
}

.wrapper__text.center {
  text-align: center;
}
.wrapper__text strong {
  font-weight: 700;
}
.wrapper__text p {
  margin-top: 0 !important;
}
.wrapper__text p {
  font-size: 16px;
  line-height: 24.96px;
}
@media (min-width: 360px) and (max-width: 1650px) {
  .wrapper__text p {
    font-size: calc( 16px + 2 * (100vw - 360px) / 1290 );
    line-height: calc(( 16px + 2 * (100vw - 360px) / 1290) * 1.56 );
  }
}
@media (min-width: 1650px) {
  .wrapper__text p {
    font-size: 18px;
    line-height: 28.08px;
  }
}
.wrapper__text p {
  margin-top: 20px;
  margin-bottom: 20px;
}
@media (min-width: 360px) and (max-width: 1638px) {
  .wrapper__text p {
    margin-top: calc( 20px + 15 * (100vw - 360px) / 1278 );
    margin-bottom: calc( 20px + 15 * (100vw - 360px) / 1278 );
  }
}
@media (min-width: 1638px) {
  .wrapper__text p {
    margin-top: 35px;
    margin-bottom: 35px;
  }
}
.wrapper__text p:last-of-type {
  margin: 0 !important;
}
.wrapper__text a {
  color: #3C3C3C;
  border-bottom: 1px solid #3C3C3C;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}
@media (min-width: 1280px) {
  .wrapper__text a:hover {
    color: #70AB37;
    border-bottom: 1px solid #70AB37;
  }
}
.wrapper__text caption {
  text-align: left;
  margin-top: 10px;
}
.wrapper__text caption {
  font-size: 14px;
  line-height: 21.84px;
}
@media (min-width: 360px) and (max-width: 1650px) {
  .wrapper__text caption {
    font-size: calc( 14px + 0 * (100vw - 360px) / 1290 );
    line-height: calc(( 14px + 0 * (100vw - 360px) / 1290) * 1.56 );
  }
}
@media (min-width: 1650px) {
  .wrapper__text caption {
    font-size: 14px;
    line-height: 21.84px;
  }
}
.wrapper__text table {
  margin: 30px auto;
  width: 100%;
  max-width: 885px;
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid #3C3C3C;
  caption-side: bottom;
}
.wrapper__text table thead {
  font-size: 18px;
  line-height: 28.08px;
}
@media (min-width: 360px) and (max-width: 1650px) {
  .wrapper__text table thead {
    font-size: calc( 18px + 0 * (100vw - 360px) / 1290 );
    line-height: calc(( 18px + 0 * (100vw - 360px) / 1290) * 1.56 );
  }
}
@media (min-width: 1650px) {
  .wrapper__text table thead {
    font-size: 18px;
    line-height: 28.08px;
  }
}
.wrapper__text table thead span {
  margin-bottom: 15px;
  display: block;
}
.wrapper__text table thead th {
  border-right: 1px solid #3C3C3C;
}
.wrapper__text table thead th {
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (min-width: 360px) and (max-width: 1638px) {
  .wrapper__text table thead th {
    padding-top: calc( 10px + 5 * (100vw - 360px) / 1278 );
    padding-bottom: calc( 10px + 5 * (100vw - 360px) / 1278 );
  }
}
@media (min-width: 1638px) {
  .wrapper__text table thead th {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.wrapper__text table thead th {
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 360px) and (max-width: 1638px) {
  .wrapper__text table thead th {
    padding-left: calc( 20px + 10 * (100vw - 360px) / 1278 );
    padding-right: calc( 20px + 10 * (100vw - 360px) / 1278 );
  }
}
@media (min-width: 1638px) {
  .wrapper__text table thead th {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.wrapper__text table tbody tr td {
  text-align: center;
  border-right: 1px solid #3C3C3C;
}
.wrapper__text table tbody tr td {
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (min-width: 360px) and (max-width: 1638px) {
  .wrapper__text table tbody tr td {
    padding-top: calc( 10px + 0 * (100vw - 360px) / 1278 );
    padding-bottom: calc( 10px + 0 * (100vw - 360px) / 1278 );
  }
}
@media (min-width: 1638px) {
  .wrapper__text table tbody tr td {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
.wrapper__text table tbody tr td {
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 360px) and (max-width: 1638px) {
  .wrapper__text table tbody tr td {
    padding-left: calc( 20px + 10 * (100vw - 360px) / 1278 );
    padding-right: calc( 20px + 10 * (100vw - 360px) / 1278 );
  }
}
@media (min-width: 1638px) {
  .wrapper__text table tbody tr td {
    padding-left: 30px;
    padding-right: 30px;
  }
}
.wrapper__text table tbody tr:nth-child(odd) {
  background-color: rgba(60, 60, 60, 0.05);
}
.wrapper__text table tbody tr:nth-child(odd) td {
  padding-top: 5px;
  padding-bottom: 5px;
}
@media (min-width: 360px) and (max-width: 1638px) {
  .wrapper__text table tbody tr:nth-child(odd) td {
    padding-top: calc( 5px + 0 * (100vw - 360px) / 1278 );
    padding-bottom: calc( 5px + 0 * (100vw - 360px) / 1278 );
  }
}
@media (min-width: 1638px) {
  .wrapper__text table tbody tr:nth-child(odd) td {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
.wrapper__text table table {
  border: 0;
  padding-top: 10px;
  table-layout: fixed;
  max-width: 480px;
  width: 100%;
  text-align: center;
  margin: 0 auto !important;
}
.wrapper__text table table {
  font-size: 16px;
  line-height: 24.96px;
}
@media (min-width: 360px) and (max-width: 1650px) {
  .wrapper__text table table {
    font-size: calc( 16px + 0 * (100vw - 360px) / 1290 );
    line-height: calc(( 16px + 0 * (100vw - 360px) / 1290) * 1.56 );
  }
}
@media (min-width: 1650px) {
  .wrapper__text table table {
    font-size: 16px;
    line-height: 24.96px;
  }
}
@media (max-width: 1023px) {
  .wrapper__text table table {
    table-layout: auto;
  }
}
.wrapper__text table table tbody tr {
  background-color: transparent !important;
}
.wrapper__text table table tbody tr td {
  border: 0;
}
.wrapper__text table table tbody tr td {
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (min-width: 360px) and (max-width: 1638px) {
  .wrapper__text table table tbody tr td {
    padding-top: calc( 10px + 0 * (100vw - 360px) / 1278 );
    padding-bottom: calc( 10px + 0 * (100vw - 360px) / 1278 );
  }
}
@media (min-width: 1638px) {
  .wrapper__text table table tbody tr td {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

.wrapper__content p:last-of-type {
  margin: 0;
}

.btn__wrapper {
  position: relative;
  z-index: 10;
}

.background__grey {
  background-color: #F7F7F7;
}

.backgorund__pale-green {
  background-color: #EDF4E7;
}

.background__white {
  background-color: #fff;
}
.background__white h1, .background__white h2, .background__white h3, .background__white h4, .background__white h5, .background__white h6, .background__white p, .background__white ul, .background__white li {
  color: #3C3C3C;
}
.background__white .wrapper__text a {
  color: #3C3C3C;
  border-bottom: 1px solid #3C3C3C;
}
@media (min-width: 1280px) {
  .background__white .wrapper__text a:hover {
    color: #70AB37;
    border-bottom: 1px solid #70AB37;
  }
}
.background__white .wrapper__text table {
  border: 1px solid #3C3C3C;
}
.background__white .wrapper__text table thead th {
  border-right: 1px solid #3C3C3C;
}
.background__white .wrapper__text table tbody tr td {
  border-right: 1px solid #3C3C3C;
}
.background__white .wrapper__text table tbody tr:nth-child(odd) {
  background-color: rgba(60, 60, 60, 0.05);
}

.background__brand {
  background-color: #70AB37;
}

.background__pale-green {
  background-color: #EDF4E7;
}

.background__mid-green {
  background-color: #55812B;
}

.background__dark-green {
  background-color: #2A4015;
}

.background__green-gradient {
  background: -webkit-linear-gradient(315deg, #2a4015 0%, #70ab37 100%);
  background: -o-linear-gradient(315deg, #2a4015 0%, #70ab37 100%);
  background: linear-gradient(135deg, #2a4015 0%, #70ab37 100%);
}

.background__transparent {
  background-color: transparent;
}

.background__imageCenter {
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
}

.background__cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.overflow--hidden {
  overflow: hidden;
}

.hidden {
  display: none;
}

.white--content h1, .white--content h2, .white--content h3, .white--content h4, .white--content h5, .white--content h6, .white--content p, .white--content ul, .white--content ol, .white--content li, .white--content a, .white--content i {
  color: #fff;
}

@media (max-width: 1023px) {
  .hide--onTablet {
    display: none !important;
  }
}

@media (max-width: 767px) {
  .hide--onMobile {
    display: none !important;
  }
}

@media (min-width: 1024px) {
  .show--onTablet {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .show--onMobile {
    display: none !important;
  }
}

@media (min-width: 1280px) {
  .show--onLaptop {
    display: none !important;
  }
}

@media (max-width: 1023px) {
  .column--onTablet {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-flow: column !important;
        -ms-flex-flow: column !important;
            flex-flow: column !important;
  }
}

.content__general p:last-of-type {
  margin-bottom: 0;
}
.content__general h2, .content__general .h2 {
  margin-bottom: 0 !important;
  font-weight: 300;
  text-transform: none;
}
.content__general h2, .content__general .h2 {
  font-size: 30px;
  line-height: 37.5px;
}
@media (min-width: 360px) and (max-width: 1650px) {
  .content__general h2, .content__general .h2 {
    font-size: calc( 30px + 10 * (100vw - 360px) / 1290 );
    line-height: calc(( 30px + 10 * (100vw - 360px) / 1290) * 1.25 );
  }
}
@media (min-width: 1650px) {
  .content__general h2, .content__general .h2 {
    font-size: 40px;
    line-height: 50px;
  }
}
.content__general h2, .content__general .h2 {
  padding-top: 26px;
  padding-bottom: 26px;
}
@media (min-width: 360px) and (max-width: 1638px) {
  .content__general h2, .content__general .h2 {
    padding-top: calc( 26px + 6 * (100vw - 360px) / 1278 );
    padding-bottom: calc( 26px + 6 * (100vw - 360px) / 1278 );
  }
}
@media (min-width: 1638px) {
  .content__general h2, .content__general .h2 {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
.content__general h2, .content__general .h2 {
  margin-top: 10px;
  margin-bottom: 10px;
}
@media (min-width: 360px) and (max-width: 1638px) {
  .content__general h2, .content__general .h2 {
    margin-top: calc( 10px + 30 * (100vw - 360px) / 1278 );
    margin-bottom: calc( 10px + 30 * (100vw - 360px) / 1278 );
  }
}
@media (min-width: 1638px) {
  .content__general h2, .content__general .h2 {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
.content__general h3, .content__general .h3 {
  margin-bottom: 0 !important;
  padding-top: 15px !important;
  font-weight: 600;
}
.content__general h3, .content__general .h3 {
  font-size: 28px;
  line-height: 35px;
}
@media (min-width: 360px) and (max-width: 1650px) {
  .content__general h3, .content__general .h3 {
    font-size: calc( 28px + 17 * (100vw - 360px) / 1290 );
    line-height: calc(( 28px + 17 * (100vw - 360px) / 1290) * 1.25 );
  }
}
@media (min-width: 1650px) {
  .content__general h3, .content__general .h3 {
    font-size: 45px;
    line-height: 56.25px;
  }
}
.content__general h3, .content__general .h3 {
  padding-top: 20px;
  padding-bottom: 20px;
}
@media (min-width: 360px) and (max-width: 1638px) {
  .content__general h3, .content__general .h3 {
    padding-top: calc( 20px + 8 * (100vw - 360px) / 1278 );
    padding-bottom: calc( 20px + 8 * (100vw - 360px) / 1278 );
  }
}
@media (min-width: 1638px) {
  .content__general h3, .content__general .h3 {
    padding-top: 28px;
    padding-bottom: 28px;
  }
}
.content__general h3, .content__general .h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}
@media (min-width: 360px) and (max-width: 1638px) {
  .content__general h3, .content__general .h3 {
    margin-top: calc( 10px + 20 * (100vw - 360px) / 1278 );
    margin-bottom: calc( 10px + 20 * (100vw - 360px) / 1278 );
  }
}
@media (min-width: 1638px) {
  .content__general h3, .content__general .h3 {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
.content__general h4, .content__general .h4 {
  padding-top: 0 !important;
  margin-bottom: 0 !important;
  font-weight: 600;
}
.content__general h4, .content__general .h4 {
  font-size: 20px;
  line-height: 25px;
}
@media (min-width: 360px) and (max-width: 1650px) {
  .content__general h4, .content__general .h4 {
    font-size: calc( 20px + 4 * (100vw - 360px) / 1290 );
    line-height: calc(( 20px + 4 * (100vw - 360px) / 1290) * 1.25 );
  }
}
@media (min-width: 1650px) {
  .content__general h4, .content__general .h4 {
    font-size: 24px;
    line-height: 30px;
  }
}
.content__general h4, .content__general .h4 {
  padding-top: 16px;
  padding-bottom: 16px;
}
@media (min-width: 360px) and (max-width: 1638px) {
  .content__general h4, .content__general .h4 {
    padding-top: calc( 16px + 6 * (100vw - 360px) / 1278 );
    padding-bottom: calc( 16px + 6 * (100vw - 360px) / 1278 );
  }
}
@media (min-width: 1638px) {
  .content__general h4, .content__general .h4 {
    padding-top: 22px;
    padding-bottom: 22px;
  }
}
.content__general h4, .content__general .h4 {
  margin-top: 20px;
  margin-bottom: 20px;
}
@media (min-width: 360px) and (max-width: 1638px) {
  .content__general h4, .content__general .h4 {
    margin-top: calc( 20px + 4 * (100vw - 360px) / 1278 );
    margin-bottom: calc( 20px + 4 * (100vw - 360px) / 1278 );
  }
}
@media (min-width: 1638px) {
  .content__general h4, .content__general .h4 {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}
.content__general img {
  max-width: 100%;
  height: auto;
}
.content__general blockquote {
  background-repeat: no-repeat;
  background-position: left top;
  -webkit-background-size: 7% 7%;
          background-size: 7%;
  margin: 0;
  font-style: italic;
  padding: 15px;
  padding-left: 60px;
  padding-bottom: 0;
}
.content__general table {
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 1.25rem;
  width: 100%;
}
.content__general table tr:last-child {
  border: 0;
}
.content__general table tr td, .content__general table tr th {
  padding: 7.5px 15px;
}
.content__general table tr td:last-child, .content__general table tr th:last-child {
  padding: 7.5px 15px;
}
.content__general ul,
.content__general ol {
  list-style: none;
  padding: 0;
  padding-left: 1.5em;
  padding-bottom: 1.25rem;
  position: relative;
}
.content__general ul li,
.content__general ol li {
  text-align: left;
}
.content__general ul li:before,
.content__general ol li:before {
  content: '\2022';
  color: #70AB37;
  padding-right: 0.75rem;
  display: inline-block;
  position: absolute;
  left: 0;
}
.content__general ol {
  list-style: auto;
}
.content__general ol li:before {
  content: '';
  display: none;
}
.content__general dt,
.content__general dd {
  padding: 0;
}
.content__general a:not(.btn) {
  text-decoration: none;
  -webkit-transition: color 0.4s, border 0.4s;
  -o-transition: color 0.4s, border 0.4s;
  transition: color 0.4s, border 0.4s;
  border-bottom: 1px solid #70AB37;
  color: #70AB37;
}
.content__general a:not(.btn).button.secondary {
  margin-top: 0;
}
.content__general a:not(.btn):hover {
  color: #70AB37;
  border-color: #70AB37;
}

.active {
  visibility: visible;
  opacity: 1;
}

.active + .modal {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(50%) translateX(50%);
      -ms-transform: translateY(50%) translateX(50%);
          transform: translateY(50%) translateX(50%);
}

.list--inline li {
  display: inline;
}

.block--inline {
  display: inline;
}

.custom-scroll::-webkit-scrollbar {
  width: 5px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #ddd;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #999;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #ccc;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
  border: 1px solid #ccc;
  -webkit-transition: 0.4s background-color;
  -o-transition: 0.4s background-color;
  transition: 0.4s background-color;
}

.column__left {
  margin-left: 0 !important;
}
.column__left {
  margin-left: 15px;
  margin-right: 15px;
}
@media (min-width: 360px) and (max-width: 1638px) {
  .column__left {
    margin-left: calc( 15px + 15 * (100vw - 360px) / 1278 );
    margin-right: calc( 15px + 15 * (100vw - 360px) / 1278 );
  }
}
@media (min-width: 1638px) {
  .column__left {
    margin-left: 30px;
    margin-right: 30px;
  }
}
@media (max-width: 767px) {
  .column__left {
    margin: 0 !important;
  }
}

.column__right {
  margin-right: 0 !important;
}
.column__right {
  margin-left: 15px;
  margin-right: 15px;
}
@media (min-width: 360px) and (max-width: 1638px) {
  .column__right {
    margin-left: calc( 15px + 15 * (100vw - 360px) / 1278 );
    margin-right: calc( 15px + 15 * (100vw - 360px) / 1278 );
  }
}
@media (min-width: 1638px) {
  .column__right {
    margin-left: 30px;
    margin-right: 30px;
  }
}
@media (max-width: 767px) {
  .column__right {
    margin: 0 !important;
  }
}

.b-lazy {
  opacity: 0;
  -webkit-transition: opacity 0.4s cubic-bezier(0.7, 0.33, 0.43, 0.6);
  -o-transition: opacity 0.4s cubic-bezier(0.7, 0.33, 0.43, 0.6);
  transition: opacity 0.4s cubic-bezier(0.7, 0.33, 0.43, 0.6);
}
.b-lazy.mask {
  opacity: 1;
  position: relative;
}
.b-lazy.mask:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.7, 0, 0.3, 1);
  transition: -webkit-transform 0.7s cubic-bezier(0.7, 0, 0.3, 1);
  -o-transition: transform 0.7s cubic-bezier(0.7, 0, 0.3, 1);
  transition: transform 0.7s cubic-bezier(0.7, 0, 0.3, 1);
  transition: transform 0.7s cubic-bezier(0.7, 0, 0.3, 1), -webkit-transform 0.7s cubic-bezier(0.7, 0, 0.3, 1);
  z-index: 2;
}
.b-lazy.opacity {
  opacity: 0;
}
.b-lazy.opacity:after {
  display: none !important;
}

.b-loaded {
  opacity: 1;
}
.b-loaded.mask:after {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}
.b-loaded.opacity {
  opacity: 1;
}

.columns__2 {
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
  -webkit-columns: 2;
     -moz-columns: 2;
          columns: 2;
}
@media (max-width: 767px) {
  .columns__2 {
    -webkit-columns: 1;
       -moz-columns: 1;
            columns: 1;
  }
}

.columns__3 {
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
  -webkit-columns: 3;
     -moz-columns: 3;
          columns: 3;
}
@media (max-width: 1279px) {
  .columns__3 {
    -webkit-columns: 2;
       -moz-columns: 2;
            columns: 2;
  }
}
@media (max-width: 767px) {
  .columns__3 {
    -webkit-columns: 1;
       -moz-columns: 1;
            columns: 1;
  }
}

/*------------------------------------|
|	Fonts                               |
|------------------------------------*/
/* Alpha font type for body copy */
/* montserrat-300 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: local("Montserrat Light"), local("Montserrat-Light"), url("../fonts/montserrat-v13-latin-300.woff2") format("woff2"), url("../fonts/montserrat-v13-latin-300.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-regular - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../fonts/montserrat-v13-latin-regular.woff2") format("woff2"), url("../fonts/montserrat-v13-latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("../fonts/montserrat-v13-latin-700.woff2") format("woff2"), url("../fonts/montserrat-v13-latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
  font-family: "14forty";
  src: url("../fonts/icon-font.woff");
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
  font-family: "14forty" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "14forty" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
  content: "\63";
}

.icon-twitter:before {
  content: "\64";
}

.icon-facebook:before {
  content: "\61";
}

.icon-linkedin:before {
  content: "\62";
}

.icon-business:before {
  content: "\65";
}

.icon-cleaning:before {
  content: "\66";
}

.icon-guest:before {
  content: "\67";
}

.icon-hospitality:before {
  content: "\68";
}

.icon-mechanical:before {
  content: "\69";
}

.icon-outdoor:before {
  content: "\6a";
}

.icon-security:before {
  content: "\6b";
}

.icon-information:before {
  content: "\6c";
}

h1, .h1 {
  font-family: "Montserrat", sans-serif;
  padding-top: 0 !important;
  font-weight: 300;
  margin: 0;
  letter-spacing: -1px;
}
h1, .h1 {
  font-size: 50px;
  line-height: 62.5px;
}
@media (min-width: 360px) and (max-width: 1650px) {
  h1, .h1 {
    font-size: calc( 50px + 10 * (100vw - 360px) / 1290 );
    line-height: calc(( 50px + 10 * (100vw - 360px) / 1290) * 1.25 );
  }
}
@media (min-width: 1650px) {
  h1, .h1 {
    font-size: 60px;
    line-height: 75px;
  }
}
h1, .h1 {
  padding-top: 30px;
  padding-bottom: 30px;
}
@media (min-width: 360px) and (max-width: 1638px) {
  h1, .h1 {
    padding-top: calc( 30px + 2 * (100vw - 360px) / 1278 );
    padding-bottom: calc( 30px + 2 * (100vw - 360px) / 1278 );
  }
}
@media (min-width: 1638px) {
  h1, .h1 {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
h1--beta, .h1--beta {
  font-size: 30px;
  line-height: 37.5px;
}
@media (min-width: 360px) and (max-width: 1650px) {
  h1--beta, .h1--beta {
    font-size: calc( 30px + 30 * (100vw - 360px) / 1290 );
    line-height: calc(( 30px + 30 * (100vw - 360px) / 1290) * 1.25 );
  }
}
@media (min-width: 1650px) {
  h1--beta, .h1--beta {
    font-size: 60px;
    line-height: 75px;
  }
}

h2, .h2 {
  font-family: "Montserrat", sans-serif;
  padding-top: 0 !important;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 0;
  text-transform: none;
}
h2, .h2 {
  font-size: 40px;
  line-height: 50px;
}
@media (min-width: 360px) and (max-width: 1650px) {
  h2, .h2 {
    font-size: calc( 40px + 10 * (100vw - 360px) / 1290 );
    line-height: calc(( 40px + 10 * (100vw - 360px) / 1290) * 1.25 );
  }
}
@media (min-width: 1650px) {
  h2, .h2 {
    font-size: 50px;
    line-height: 62.5px;
  }
}
h2, .h2 {
  padding-top: 26px;
  padding-bottom: 26px;
}
@media (min-width: 360px) and (max-width: 1638px) {
  h2, .h2 {
    padding-top: calc( 26px + 6 * (100vw - 360px) / 1278 );
    padding-bottom: calc( 26px + 6 * (100vw - 360px) / 1278 );
  }
}
@media (min-width: 1638px) {
  h2, .h2 {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}

h3, .h3 {
  padding-top: 0 !important;
  font-weight: 700;
  margin: 0;
}
h3, .h3 {
  font-size: 24px;
  line-height: 30px;
}
@media (min-width: 360px) and (max-width: 1650px) {
  h3, .h3 {
    font-size: calc( 24px + 0 * (100vw - 360px) / 1290 );
    line-height: calc(( 24px + 0 * (100vw - 360px) / 1290) * 1.25 );
  }
}
@media (min-width: 1650px) {
  h3, .h3 {
    font-size: 24px;
    line-height: 30px;
  }
}
h3, .h3 {
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (min-width: 360px) and (max-width: 1638px) {
  h3, .h3 {
    padding-top: calc( 10px + 5 * (100vw - 360px) / 1278 );
    padding-bottom: calc( 10px + 5 * (100vw - 360px) / 1278 );
  }
}
@media (min-width: 1638px) {
  h3, .h3 {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

h4, .h4 {
  padding-top: 0 !important;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}
h4, .h4 {
  font-size: 20px;
  line-height: 25px;
}
@media (min-width: 360px) and (max-width: 1650px) {
  h4, .h4 {
    font-size: calc( 20px + 4 * (100vw - 360px) / 1290 );
    line-height: calc(( 20px + 4 * (100vw - 360px) / 1290) * 1.25 );
  }
}
@media (min-width: 1650px) {
  h4, .h4 {
    font-size: 24px;
    line-height: 30px;
  }
}
h4, .h4 {
  padding-top: 30px;
  padding-bottom: 30px;
}
@media (min-width: 360px) and (max-width: 1638px) {
  h4, .h4 {
    padding-top: calc( 30px + 14 * (100vw - 360px) / 1278 );
    padding-bottom: calc( 30px + 14 * (100vw - 360px) / 1278 );
  }
}
@media (min-width: 1638px) {
  h4, .h4 {
    padding-top: 44px;
    padding-bottom: 44px;
  }
}

.heading-2 {
  max-width: 766px;
  text-align: center;
  margin: 0 auto;
}

.heading-3 {
  text-transform: capitalize;
  color: #70AB37;
  padding-top: 0 !important;
}

/*!
Animate.css - http://daneden.me/animate
Licensed under the MIT license - http://opensource.org/licenses/MIT
Copyright (c) 2015 Daniel Eden
*/
body {
  -webkit-backface-visibility: hidden;
}

.animated {
  -webkit-animation-duration: calc( 0.4s );
  animation-duration: calc( 0.4s );
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.animated.infinite {
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.animated.hinge {
  -webkit-animation-duration: calc( 0.4s * 2 );
  animation-duration: calc( 0.4s * 2 );
}
.animated.bounceIn, .animated.bounceOut {
  -webkit-animation-duration: calc( 0.4s * 0.75 );
  animation-duration: calc( 0.4s * 0.75 );
}
.animated.flipOutX, .animated.flipOutY {
  -webkit-animation-duration: calc( 0.4s * 0.75 );
  animation-duration: calc( 0.4s * 0.75 );
}

@-webkit-keyframes slideInDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInDown {
  0% {
    -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
}

@-webkit-keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInLeft {
  0% {
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
}

@-webkit-keyframes slideInRight {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInRight {
  0% {
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
}

@-webkit-keyframes slideInUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
  }
}
@keyframes slideInUp {
  0% {
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
}
.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
}

/*------------------------------------|
|	Content Wrap                        |
|------------------------------------*/
/*---- Limits width of content, adds side padding, & allows background colours to extend to screen edge ----*/
.section__constrained {
  max-width: 1638px;
  margin: 0 auto;
}
.section__constrained {
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 360px) and (max-width: 1638px) {
  .section__constrained {
    padding-left: calc( 15px + 69 * (100vw - 360px) / 1278 );
    padding-right: calc( 15px + 69 * (100vw - 360px) / 1278 );
  }
}
@media (min-width: 1638px) {
  .section__constrained {
    padding-left: 84px;
    padding-right: 84px;
  }
}
@media (max-width: 767px) {
  .section__constrained {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}
.section__constrained.center {
  text-align: center;
}
.section__constrained.half {
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 360px) and (max-width: 1638px) {
  .section__constrained.half {
    padding-left: calc( 15px + 10 * (100vw - 360px) / 1278 );
    padding-right: calc( 15px + 10 * (100vw - 360px) / 1278 );
  }
}
@media (min-width: 1638px) {
  .section__constrained.half {
    padding-left: 25px;
    padding-right: 25px;
  }
}
.section__constrained.maxWidth--1240 {
  max-width: 1240px;
}

.l-header {
  position: fixed;
  width: 100%;
  z-index: 3000;
  -webkit-transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
  -o-transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
  transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
}
.l-header {
  padding-top: 15px;
  padding-bottom: 15px;
}
@media (min-width: 360px) and (max-width: 1638px) {
  .l-header {
    padding-top: calc( 15px + 15 * (100vw - 360px) / 1278 );
    padding-bottom: calc( 15px + 15 * (100vw - 360px) / 1278 );
  }
}
@media (min-width: 1638px) {
  .l-header {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}
@media (min-width: 1280px) {
  .l-header.scrolled {
    -webkit-box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.25);
            box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.25);
    background-color: #fff;
    -webkit-transform: translateY(-80px);
        -ms-transform: translateY(-80px);
            transform: translateY(-80px);
  }
  .l-header.scrolled .l-header__logo {
    -webkit-transform: scale(0.5) translateY(80px);
        -ms-transform: scale(0.5) translateY(80px);
            transform: scale(0.5) translateY(80px);
  }
  .l-header.scrolled .l-header__logo svg .text-logo {
    fill: #3C3C3C;
  }
  .l-header.scrolled .l-header__nav {
    -webkit-transform: translateY(40px);
        -ms-transform: translateY(40px);
            transform: translateY(40px);
  }
  .l-header.scrolled .l-header__nav ul li {
    display: inline-block;
  }
  .l-header.scrolled .l-header__nav ul li:last-of-type {
    margin-left: 13.5px;
  }
  .l-header.scrolled .l-header__nav ul li:last-of-type a {
    color: #fff;
    background-color: #70AB37;
  }
  .l-header.scrolled .l-header__nav ul li.active a {
    color: #70AB37;
  }
  .l-header.scrolled .l-header__nav ul li a {
    color: #3C3C3C;
  }
  .l-header.scrolled .l-header__nav ul li a:before {
    background-color: #70AB37;
    top: -28px;
  }
}
@media (min-width: 1280px) and (min-width: 1280px) {
  .l-header.scrolled .l-header__nav ul li a:hover, .l-header.scrolled .l-header__nav ul li a:focus {
    color: #70AB37;
  }
  .l-header.scrolled .l-header__nav ul li a:hover:before, .l-header.scrolled .l-header__nav ul li a:focus:before {
    opacity: 1;
  }
}

.l-header .l-header__logo {
  line-height: 0;
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.7, 0, 0.3, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.7, 0, 0.3, 1);
  -o-transition: transform 0.5s cubic-bezier(0.7, 0, 0.3, 1);
  transition: transform 0.5s cubic-bezier(0.7, 0, 0.3, 1);
  transition: transform 0.5s cubic-bezier(0.7, 0, 0.3, 1), -webkit-transform 0.5s cubic-bezier(0.7, 0, 0.3, 1);
}
.l-header .l-header__logo svg {
  fill: #fff;
}
@media all and (-ms-high-contrast: none) {
  .l-header .l-header__logo svg {
    height: 162px;
    width: 100px;
  }
}
.l-header .l-header__logo svg .text-logo {
  -webkit-transition: all 0.35s cubic-bezier(0.7, 0, 0.3, 1);
  -o-transition: all 0.35s cubic-bezier(0.7, 0, 0.3, 1);
  transition: all 0.35s cubic-bezier(0.7, 0, 0.3, 1);
}
.l-header .right--wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.l-header .l-header__nav {
  margin: -27px;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.7, 0, 0.3, 1);
  transition: -webkit-transform 0.5s cubic-bezier(0.7, 0, 0.3, 1);
  -o-transition: transform 0.5s cubic-bezier(0.7, 0, 0.3, 1);
  transition: transform 0.5s cubic-bezier(0.7, 0, 0.3, 1);
  transition: transform 0.5s cubic-bezier(0.7, 0, 0.3, 1), -webkit-transform 0.5s cubic-bezier(0.7, 0, 0.3, 1);
}
@media (max-width: 1279px) {
  .l-header .l-header__nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    display: none;
  }
}
.l-header .l-header__nav ul {
  line-height: 0;
  font-size: 0;
}
.l-header .l-header__nav ul li {
  display: inline-block;
  position: relative;
}
.l-header .l-header__nav ul li.active a:before {
  opacity: 1;
}
.l-header .l-header__nav ul li:last-of-type {
  margin-left: 13.5px;
}
.l-header .l-header__nav ul li:last-of-type a {
  background-color: #fff;
  color: #70AB37;
  text-transform: uppercase;
  -webkit-border-radius: 500px;
          border-radius: 500px;
  font-weight: 700;
}
.l-header .l-header__nav ul li:last-of-type a:before {
  display: none;
}
@media (min-width: 1280px) {
  .l-header .l-header__nav ul li:last-of-type a:hover, .l-header .l-header__nav ul li:last-of-type a:focus {
    background-color: #70AB37;
    color: #fff;
  }
}
.l-header .l-header__nav ul li a {
  color: #fff;
  -webkit-transition: all 0.35s cubic-bezier(0.7, 0, 0.3, 1);
  -o-transition: all 0.35s cubic-bezier(0.7, 0, 0.3, 1);
  transition: all 0.35s cubic-bezier(0.7, 0, 0.3, 1);
  font-weight: 400;
}
.l-header .l-header__nav ul li a {
  padding-left: 13.5px;
  padding-right: 13.5px;
}
@media (min-width: 360px) and (max-width: 1638px) {
  .l-header .l-header__nav ul li a {
    padding-left: calc( 13.5px + 13.5 * (100vw - 360px) / 1278 );
    padding-right: calc( 13.5px + 13.5 * (100vw - 360px) / 1278 );
  }
}
@media (min-width: 1638px) {
  .l-header .l-header__nav ul li a {
    padding-left: 27px;
    padding-right: 27px;
  }
}
.l-header .l-header__nav ul li a {
  padding-top: 8px;
  padding-bottom: 8px;
}
@media (min-width: 360px) and (max-width: 1638px) {
  .l-header .l-header__nav ul li a {
    padding-top: calc( 8px + 5 * (100vw - 360px) / 1278 );
    padding-bottom: calc( 8px + 5 * (100vw - 360px) / 1278 );
  }
}
@media (min-width: 1638px) {
  .l-header .l-header__nav ul li a {
    padding-top: 13px;
    padding-bottom: 13px;
  }
}
.l-header .l-header__nav ul li a {
  font-size: 16px;
  line-height: 24.96px;
}
@media (min-width: 360px) and (max-width: 1650px) {
  .l-header .l-header__nav ul li a {
    font-size: calc( 16px + 0 * (100vw - 360px) / 1290 );
    line-height: calc(( 16px + 0 * (100vw - 360px) / 1290) * 1.56 );
  }
}
@media (min-width: 1650px) {
  .l-header .l-header__nav ul li a {
    font-size: 16px;
    line-height: 24.96px;
  }
}
.l-header .l-header__nav ul li a:before {
  content: '';
  position: absolute;
  top: -68px;
  left: 27px;
  width: calc(100% - 54px);
  height: 4px;
  background-color: #fff;
  opacity: 0;
  -webkit-transition: opacity 0.35s cubic-bezier(0.7, 0, 0.3, 1), background-color 0.35s cubic-bezier(0.7, 0, 0.3, 1), top 0.5s cubic-bezier(0.7, 0, 0.3, 1);
  -o-transition: opacity 0.35s cubic-bezier(0.7, 0, 0.3, 1), background-color 0.35s cubic-bezier(0.7, 0, 0.3, 1), top 0.5s cubic-bezier(0.7, 0, 0.3, 1);
  transition: opacity 0.35s cubic-bezier(0.7, 0, 0.3, 1), background-color 0.35s cubic-bezier(0.7, 0, 0.3, 1), top 0.5s cubic-bezier(0.7, 0, 0.3, 1);
}
@media (min-width: 1280px) {
  .l-header .l-header__nav ul li a:hover:before, .l-header .l-header__nav ul li a:focus:before {
    opacity: 1;
  }
}

.l-footer .pure-g {
  -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.25);
}
.l-footer .primary--section {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(50%, #EDF4E7));
  background: -webkit-linear-gradient(top, transparent 50%, #EDF4E7 50%);
  background: -o-linear-gradient(top, transparent 50%, #EDF4E7 50%);
  background: linear-gradient(to bottom, transparent 50%, #EDF4E7 50%);
  position: relative;
}
.l-footer .primary--section p, .l-footer .primary--section a, .l-footer .primary--section em {
  color: #fff;
}
.l-footer .primary--section .footer--block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.l-footer .primary--section .footer--block .address--wrapper,
.l-footer .primary--section .footer--block .brochure--wrapper,
.l-footer .primary--section .footer--block .footerNav--wrapper {
  padding-top: 40px;
  padding-bottom: 40px;
}
@media (min-width: 360px) and (max-width: 1638px) {
  .l-footer .primary--section .footer--block .address--wrapper,
  .l-footer .primary--section .footer--block .brochure--wrapper,
  .l-footer .primary--section .footer--block .footerNav--wrapper {
    padding-top: calc( 40px + 30 * (100vw - 360px) / 1278 );
    padding-bottom: calc( 40px + 30 * (100vw - 360px) / 1278 );
  }
}
@media (min-width: 1638px) {
  .l-footer .primary--section .footer--block .address--wrapper,
  .l-footer .primary--section .footer--block .brochure--wrapper,
  .l-footer .primary--section .footer--block .footerNav--wrapper {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
.l-footer .primary--section .footer--block .address--wrapper {
  text-align: center;
}
.l-footer .primary--section .footer--block .address--wrapper p {
  font-weight: 700;
  margin-bottom: 7px;
}
.l-footer .primary--section .footer--block .address--wrapper .telephone {
  font-weight: 700;
  display: block;
  margin-bottom: 15px;
}
.l-footer .primary--section .footer--block .address--wrapper .telephone {
  font-size: 32px;
  line-height: 40px;
}
@media (min-width: 360px) and (max-width: 1650px) {
  .l-footer .primary--section .footer--block .address--wrapper .telephone {
    font-size: calc( 32px + 16 * (100vw - 360px) / 1290 );
    line-height: calc(( 32px + 16 * (100vw - 360px) / 1290) * 1.25 );
  }
}
@media (min-width: 1650px) {
  .l-footer .primary--section .footer--block .address--wrapper .telephone {
    font-size: 48px;
    line-height: 60px;
  }
}
.l-footer .primary--section .footer--block .address--wrapper .email {
  font-weight: 700;
}
.l-footer .primary--section .footer--block .address--wrapper .email {
  font-size: 18px;
  line-height: 28.08px;
}
@media (min-width: 360px) and (max-width: 1650px) {
  .l-footer .primary--section .footer--block .address--wrapper .email {
    font-size: calc( 18px + 1 * (100vw - 360px) / 1290 );
    line-height: calc(( 18px + 1 * (100vw - 360px) / 1290) * 1.56 );
  }
}
@media (min-width: 1650px) {
  .l-footer .primary--section .footer--block .address--wrapper .email {
    font-size: 19px;
    line-height: 29.64px;
  }
}
.l-footer .primary--section .footer--block .brochure--wrapper {
  text-align: center;
  position: relative;
}
.l-footer .primary--section .footer--block .brochure--wrapper:after {
  content: '';
  position: absolute;
  right: 0;
  top: 40px;
  height: calc(100% - 80px);
  width: 1px;
  background-color: #70AB37;
}
.l-footer .primary--section .footer--block .brochure--wrapper em {
  font-style: normal;
  letter-spacing: -1px;
}
.l-footer .primary--section .footer--block .brochure--wrapper em {
  font-size: 24px;
  line-height: 30px;
}
@media (min-width: 360px) and (max-width: 1650px) {
  .l-footer .primary--section .footer--block .brochure--wrapper em {
    font-size: calc( 24px + 18 * (100vw - 360px) / 1290 );
    line-height: calc(( 24px + 18 * (100vw - 360px) / 1290) * 1.25 );
  }
}
@media (min-width: 1650px) {
  .l-footer .primary--section .footer--block .brochure--wrapper em {
    font-size: 42px;
    line-height: 52.5px;
  }
}
@media (max-width: 767px) {
  .l-footer .primary--section .footer--block .brochure--wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .l-footer .primary--section .footer--block .brochure--wrapper:after {
    bottom: 0;
    height: 1px;
    width: 100%;
    top: unset;
  }
}
.l-footer .primary--section .footer--block .footerNav--wrapper {
  text-align: center;
}
.l-footer .primary--section .footer--block .footerNav--wrapper em {
  font-style: normal;
  font-weight: 700;
}
.l-footer .primary--section .footer--block .footerNav--wrapper ul {
  margin-top: 4px;
}
.l-footer .primary--section .footer--block .footerNav--wrapper ul li {
  padding: 2px;
}
.l-footer .primary--section .footer--block .footerNav--wrapper ul li a {
  padding: 4px;
}
.l-footer hr {
  padding-top: 0 !important;
  background: #EDF4E7;
}
.l-footer hr {
  padding-top: 30px;
  padding-bottom: 30px;
}
@media (min-width: 360px) and (max-width: 1638px) {
  .l-footer hr {
    padding-top: calc( 30px + 60 * (100vw - 360px) / 1278 );
    padding-bottom: calc( 30px + 60 * (100vw - 360px) / 1278 );
  }
}
@media (min-width: 1638px) {
  .l-footer hr {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}
.l-footer .secondary--section .border--top {
  border-top: 2px solid #2A4015;
}
.l-footer .secondary--section .border--top {
  padding-top: 25px;
  padding-bottom: 25px;
}
@media (min-width: 360px) and (max-width: 1638px) {
  .l-footer .secondary--section .border--top {
    padding-top: calc( 25px + 15 * (100vw - 360px) / 1278 );
    padding-bottom: calc( 25px + 15 * (100vw - 360px) / 1278 );
  }
}
@media (min-width: 1638px) {
  .l-footer .secondary--section .border--top {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
.l-footer .secondary--section .left--wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.l-footer .secondary--section .left--wrapper p {
  margin-bottom: 0;
  color: #2A4015;
  font-weight: 400;
  max-width: 400px;
}
.l-footer .secondary--section .left--wrapper p {
  font-size: 14px;
  line-height: 21.84px;
}
@media (min-width: 360px) and (max-width: 1650px) {
  .l-footer .secondary--section .left--wrapper p {
    font-size: calc( 14px + 0 * (100vw - 360px) / 1290 );
    line-height: calc(( 14px + 0 * (100vw - 360px) / 1290) * 1.56 );
  }
}
@media (min-width: 1650px) {
  .l-footer .secondary--section .left--wrapper p {
    font-size: 14px;
    line-height: 21.84px;
  }
}
.l-footer .secondary--section .left--wrapper p {
  margin-left: 20px;
  margin-right: 20px;
}
@media (min-width: 360px) and (max-width: 1638px) {
  .l-footer .secondary--section .left--wrapper p {
    margin-left: calc( 20px + 16 * (100vw - 360px) / 1278 );
    margin-right: calc( 20px + 16 * (100vw - 360px) / 1278 );
  }
}
@media (min-width: 1638px) {
  .l-footer .secondary--section .left--wrapper p {
    margin-left: 36px;
    margin-right: 36px;
  }
}
.l-footer .secondary--section .nav__social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.l-footer .secondary--section .nav__social ul {
  display: inline-block;
}
.l-footer .secondary--section .nav__social ul li {
  padding: 0 16px;
  display: inline-block;
}
.l-footer .secondary--section .nav__social ul li:last-of-type {
  padding-right: 0;
}
.l-footer .secondary--section .nav__social ul li:first-of-type {
  padding-left: 0;
}
.l-footer .secondary--section .nav__social ul li i {
  font-size: 28px;
  color: #2A4015;
}
@media (max-width: 767px) {
  .l-footer .secondary--section .nav__social ul li {
    padding-bottom: 14px;
  }
}
@media (max-width: 767px) {
  .l-footer .secondary--section .wrapper__flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .l-footer .secondary--section .nav__social {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding-bottom: 20px;
  }
}

/*------------------------------------|
|	Buttons                             |
|------------------------------------*/
.btn {
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  color: #fff;
  background-color: #70AB37;
  border: 2px solid #70AB37;
  text-decoration: none;
  display: inline-block;
  -webkit-border-radius: 500px;
          border-radius: 500px;
  -webkit-transition: background-color 0.35s cubic-bezier(0.7, 0, 0.3, 1), border-color 0.35s cubic-bezier(0.7, 0, 0.3, 1), color 0.35s cubic-bezier(0.7, 0, 0.3, 1);
  -o-transition: background-color 0.35s cubic-bezier(0.7, 0, 0.3, 1), border-color 0.35s cubic-bezier(0.7, 0, 0.3, 1), color 0.35s cubic-bezier(0.7, 0, 0.3, 1);
  transition: background-color 0.35s cubic-bezier(0.7, 0, 0.3, 1), border-color 0.35s cubic-bezier(0.7, 0, 0.3, 1), color 0.35s cubic-bezier(0.7, 0, 0.3, 1);
}
.btn {
  padding-top: 15px;
  padding-bottom: 15px;
}
@media (min-width: 360px) and (max-width: 1638px) {
  .btn {
    padding-top: calc( 15px + 0 * (100vw - 360px) / 1278 );
    padding-bottom: calc( 15px + 0 * (100vw - 360px) / 1278 );
  }
}
@media (min-width: 1638px) {
  .btn {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.btn {
  padding-left: 27px;
  padding-right: 27px;
}
@media (min-width: 360px) and (max-width: 1638px) {
  .btn {
    padding-left: calc( 27px + 0 * (100vw - 360px) / 1278 );
    padding-right: calc( 27px + 0 * (100vw - 360px) / 1278 );
  }
}
@media (min-width: 1638px) {
  .btn {
    padding-left: 27px;
    padding-right: 27px;
  }
}
.btn {
  font-size: 15px;
  line-height: 23.4px;
}
@media (min-width: 360px) and (max-width: 1650px) {
  .btn {
    font-size: calc( 15px + 2 * (100vw - 360px) / 1290 );
    line-height: calc(( 15px + 2 * (100vw - 360px) / 1290) * 1.56 );
  }
}
@media (min-width: 1650px) {
  .btn {
    font-size: 17px;
    line-height: 26.52px;
  }
}
@media (min-width: 1280px) {
  .btn:focus, .btn:hover {
    background-color: #55812B;
    border-color: #55812B;
  }
}
.btn.white {
  background-color: #fff;
  color: #70AB37;
}
@media (min-width: 1280px) {
  .btn.white:focus, .btn.white:hover {
    color: #55812B;
    border-color: #55812B;
    background-color: #fff;
  }
}
.btn.lined {
  background-color: transparent;
  color: 2px solid #70AB37;
}
@media (min-width: 1280px) {
  .btn.lined:focus, .btn.lined:hover {
    color: #55812B;
    border-color: #55812B;
  }
}
.btn.spaceOnTop {
  margin-bottom: 0 !important;
}
.btn.spaceOnTop {
  margin-top: 20px;
  margin-bottom: 20px;
}
@media (min-width: 360px) and (max-width: 1638px) {
  .btn.spaceOnTop {
    margin-top: calc( 20px + 10 * (100vw - 360px) / 1278 );
    margin-bottom: calc( 20px + 10 * (100vw - 360px) / 1278 );
  }
}
@media (min-width: 1638px) {
  .btn.spaceOnTop {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}

.btn:focus {
  outline: none;
}

#homepage--banner {
  position: relative;
  overflow: hidden;
}
#homepage--banner:before {
  content: '';
  position: absolute;
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iTGF5ZXJfMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSIxOTIwcHgiIGhlaWdodD0iNTQ4LjYxM3B4IiB2aWV3Qm94PSIwIDAgMTkyMCA1NDguNjEzIiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxOTIwIDU0OC42MTMiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxnPjxwYXRoIGZpbGw9IiNGRkZGRkYiIGQ9Ik0wLDM3OS41NDR2MTY5LjA2OGg1MzIuOTU3Yy05OS4zMzgsMC4wMDItMTk4LjY3Ny0yMC42MDEtMjkxLjQ2Mi02MS44MUwwLDM3OS41NDR6Ii8+PHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTgyNC40ODUsNDg2Ljc1OWMtOTIuNzc4LDQxLjIyNC0xOTIuMTE0LDYxLjg0MS0yOTEuNDUzLDYxLjg1NEgxOTIwVjBMODI0LjQ4NSw0ODYuNzU5eiIvPjwvZz48L3N2Zz4=);
  background-position: bottom center;
  -webkit-background-size: contain;
          background-size: contain;
  background-repeat: no-repeat;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
}
#homepage--banner.not__found .banner--content {
  padding-top: 40px;
  padding-bottom: 40px;
}
@media (min-width: 360px) and (max-width: 1638px) {
  #homepage--banner.not__found .banner--content {
    padding-top: calc( 40px + 140 * (100vw - 360px) / 1278 );
    padding-bottom: calc( 40px + 140 * (100vw - 360px) / 1278 );
  }
}
@media (min-width: 1638px) {
  #homepage--banner.not__found .banner--content {
    padding-top: 180px;
    padding-bottom: 180px;
  }
}
#homepage--banner.not__found .banner--content {
  padding-left: 30px;
  padding-right: 30px;
}
@media (min-width: 360px) and (max-width: 1638px) {
  #homepage--banner.not__found .banner--content {
    padding-left: calc( 30px + 20 * (100vw - 360px) / 1278 );
    padding-right: calc( 30px + 20 * (100vw - 360px) / 1278 );
  }
}
@media (min-width: 1638px) {
  #homepage--banner.not__found .banner--content {
    padding-left: 50px;
    padding-right: 50px;
  }
}
#homepage--banner.not__found .banner--content h1 {
  font-weight: 400;
}
#homepage--banner.not__found .banner--content h1 {
  font-size: 32px;
  line-height: 40px;
}
@media (min-width: 360px) and (max-width: 1650px) {
  #homepage--banner.not__found .banner--content h1 {
    font-size: calc( 32px + 118 * (100vw - 360px) / 1290 );
    line-height: calc(( 32px + 118 * (100vw - 360px) / 1290) * 1.25 );
  }
}
@media (min-width: 1650px) {
  #homepage--banner.not__found .banner--content h1 {
    font-size: 150px;
    line-height: 187.5px;
  }
}
#homepage--banner .bottom--space {
  padding-top: 0 !important;
}
#homepage--banner .bottom--space {
  padding-top: 55px;
  padding-bottom: 55px;
}
@media (min-width: 360px) and (max-width: 1638px) {
  #homepage--banner .bottom--space {
    padding-top: calc( 55px + 10 * (100vw - 360px) / 1278 );
    padding-bottom: calc( 55px + 10 * (100vw - 360px) / 1278 );
  }
}
@media (min-width: 1638px) {
  #homepage--banner .bottom--space {
    padding-top: 65px;
    padding-bottom: 65px;
  }
}
#homepage--banner h1, #homepage--banner p {
  color: #fff;
}
#homepage--banner p:last-of-type {
  margin-bottom: 0;
}
#homepage--banner .banner--content {
  padding-left: 0 !important;
}
#homepage--banner .banner--content {
  padding-top: 20px;
  padding-bottom: 20px;
}
@media (min-width: 360px) and (max-width: 1638px) {
  #homepage--banner .banner--content {
    padding-top: calc( 20px + 100 * (100vw - 360px) / 1278 );
    padding-bottom: calc( 20px + 100 * (100vw - 360px) / 1278 );
  }
}
@media (min-width: 1638px) {
  #homepage--banner .banner--content {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}
#homepage--banner .banner--content {
  padding-left: 30px;
  padding-right: 30px;
}
@media (min-width: 360px) and (max-width: 1638px) {
  #homepage--banner .banner--content {
    padding-left: calc( 30px + 20 * (100vw - 360px) / 1278 );
    padding-right: calc( 30px + 20 * (100vw - 360px) / 1278 );
  }
}
@media (min-width: 1638px) {
  #homepage--banner .banner--content {
    padding-left: 50px;
    padding-right: 50px;
  }
}
@media (max-width: 1023px) {
  #homepage--banner .banner--content {
    padding-right: 0 !important;
  }
}
#homepage--banner #image--wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
}
#homepage--banner #image--wrapper img {
  width: auto;
  height: 50vw;
  position: absolute;
  max-height: 55vh;
}
@media (max-width: 1023px) {
  #homepage--banner #image--wrapper img {
    display: none;
  }
}

@media (max-width: 1023px) {
  .services-sm {
    display: none;
  }
}

.services-sm--padding {
  padding-bottom: 0 !important;
}
.services-sm--padding {
  padding-top: 30px;
  padding-bottom: 30px;
}
@media (min-width: 360px) and (max-width: 1638px) {
  .services-sm--padding {
    padding-top: calc( 30px + 30 * (100vw - 360px) / 1278 );
    padding-bottom: calc( 30px + 30 * (100vw - 360px) / 1278 );
  }
}
@media (min-width: 1638px) {
  .services-sm--padding {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.services__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services__icon {
  height: 64px;
  margin-bottom: 20px;
}

.services__inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  text-align: center;
  padding: 20px;
}

.services__intro {
  padding-top: 40px;
  padding-bottom: 80px;
  font-size: 20px;
  text-align: center;
  max-width: 920px;
  margin: 0 auto;
}

.services-border {
  -webkit-transition: -webkit-box-shadow 0.6s;
  transition: -webkit-box-shadow 0.6s;
  -o-transition: box-shadow 0.6s;
  transition: box-shadow 0.6s;
  transition: box-shadow 0.6s, -webkit-box-shadow 0.6s;
  position: relative;
}
.services-border:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  margin: auto;
  height: 10px;
  width: 100%;
  background: transparent;
  -webkit-transition: background-color .6s ease;
  -o-transition: background-color .6s ease;
  transition: background-color .6s ease;
}
.services-border:hover:after {
  width: 100%;
  background: #70AB37;
}
.services-border:hover {
  -webkit-box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
}

.services-lg {
  padding: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.services-lg-spacing {
  padding-top: 40px;
  padding-bottom: 40px;
}
@media (min-width: 360px) and (max-width: 1638px) {
  .services-lg-spacing {
    padding-top: calc( 40px + 50 * (100vw - 360px) / 1278 );
    padding-bottom: calc( 40px + 50 * (100vw - 360px) / 1278 );
  }
}
@media (min-width: 1638px) {
  .services-lg-spacing {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}

.services__info {
  margin-left: 20px;
}

.services__icon--lg {
  margin-top: 8px;
  height: 73px;
}

.colour-text-body {
  color: #3C3C3C;
}

.bg-green {
  background-color: #EDF4E7;
}

.forty {
  padding-top: 50px;
  padding-bottom: 50px;
}
@media (min-width: 360px) and (max-width: 1638px) {
  .forty {
    padding-top: calc( 50px + 60 * (100vw - 360px) / 1278 );
    padding-bottom: calc( 50px + 60 * (100vw - 360px) / 1278 );
  }
}
@media (min-width: 1638px) {
  .forty {
    padding-top: 110px;
    padding-bottom: 110px;
  }
}

.forty__wrapper {
  -webkit-box-pack: start;
  -webkit-justify-content: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.forty__block {
  padding: 20px;
}

.feature-image {
  background-color: #EDF4E7;
  padding: 50px 0px;
  position: relative;
}
.feature-image {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media (min-width: 360px) and (max-width: 1638px) {
  .feature-image {
    padding-top: calc( 60px + 60 * (100vw - 360px) / 1278 );
    padding-bottom: calc( 60px + 60 * (100vw - 360px) / 1278 );
  }
}
@media (min-width: 1638px) {
  .feature-image {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.feature-image__background {
  background: url("../img/content/adult-cleaning.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center center;
  z-index: 1;
  position: absolute;
  top: 0;
  width: 55vw;
  height: 100%;
}

.feature-image__text {
  background-color: #fff;
  padding: 60px;
}

.feature-image__text--wrapper {
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  z-index: 1000;
  position: relative;
}

@media (max-width: 767px) {
  .feature-image {
    min-height: 50vh;
  }

  .feature-image__background {
    max-height: 30vh;
    width: 100vw;
  }

  .feature-image__text {
    padding: 20px;
  }

  .feature-image__text--wrapper {
    padding-top: 120px;
  }
}
.central-helpdesk {
  text-align: center;
}

.subNav__wrapper {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  overflow: hidden;
}
@media (max-width: 1279px) {
  .subNav__wrapper {
    display: none;
    pointer-events: none;
  }
}
.subNav__wrapper.is--active .subNav__wrapper--inner {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}
.subNav__wrapper .subNav__wrapper--inner {
  background-color: #454545;
  width: 100%;
  height: 100%;
  padding: 15px 0;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.7, 0, 0.3, 1);
  transition: -webkit-transform 0.4s cubic-bezier(0.7, 0, 0.3, 1);
  -o-transition: transform 0.4s cubic-bezier(0.7, 0, 0.3, 1);
  transition: transform 0.4s cubic-bezier(0.7, 0, 0.3, 1);
  transition: transform 0.4s cubic-bezier(0.7, 0, 0.3, 1), -webkit-transform 0.4s cubic-bezier(0.7, 0, 0.3, 1);
}
.subNav__wrapper .subNav__wrapper--inner ul {
  display: inline-block;
  font-size: 0;
  line-height: 0;
  margin-left: 0 !important;
  opacity: 0;
  -webkit-transition: opacity 0.4s cubic-bezier(0.7, 0, 0.3, 1);
  -o-transition: opacity 0.4s cubic-bezier(0.7, 0, 0.3, 1);
  transition: opacity 0.4s cubic-bezier(0.7, 0, 0.3, 1);
}
.subNav__wrapper .subNav__wrapper--inner ul.is--active {
  opacity: 1;
}
.subNav__wrapper .subNav__wrapper--inner ul.secondary--nav {
  -webkit-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
  opacity: 0;
}
.subNav__wrapper .subNav__wrapper--inner ul li {
  display: inline-block;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.subNav__wrapper .subNav__wrapper--inner ul li:first-of-type {
  padding-left: 0 !important;
}
.subNav__wrapper .subNav__wrapper--inner ul li:last-of-type {
  padding-right: 0 !important;
}
.subNav__wrapper .subNav__wrapper--inner ul li a {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 13px;
  position: relative;
  -webkit-transition: 0.4s color;
  -o-transition: 0.4s color;
  transition: 0.4s color;
}
.subNav__wrapper .subNav__wrapper--inner ul li a {
  font-size: 15px;
  line-height: 23.4px;
}
@media (min-width: 360px) and (max-width: 1650px) {
  .subNav__wrapper .subNav__wrapper--inner ul li a {
    font-size: calc( 15px + 0 * (100vw - 360px) / 1290 );
    line-height: calc(( 15px + 0 * (100vw - 360px) / 1290) * 1.56 );
  }
}
@media (min-width: 1650px) {
  .subNav__wrapper .subNav__wrapper--inner ul li a {
    font-size: 15px;
    line-height: 23.4px;
  }
}

#forty__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  -o-transition: transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  margin-right: -20px;
}
#forty__nav ul {
  display: inline-block;
  font-size: 0;
  line-height: 0;
  margin-left: 0 !important;
}
@media (max-width: 1279px) {
  #forty__nav ul {
    width: 100%;
  }
}
#forty__nav ul.secondary--nav {
  -webkit-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
  opacity: 0;
}
#forty__nav ul li {
  display: inline-block;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
#forty__nav ul li:first-of-type {
  padding-left: 0 !important;
}
#forty__nav ul li:last-of-type {
  padding-right: 0 !important;
}
#forty__nav ul li.active a:after, #forty__nav ul li.active a:before {
  width: calc(50% - 30px);
}
#forty__nav ul li a {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  padding: 10px 13px;
  position: relative;
  -webkit-transition: 0.4s color;
  -o-transition: 0.4s color;
  transition: 0.4s color;
}
#forty__nav ul li a {
  font-size: 15px;
  line-height: 23.4px;
}
@media (min-width: 360px) and (max-width: 1650px) {
  #forty__nav ul li a {
    font-size: calc( 15px + 0 * (100vw - 360px) / 1290 );
    line-height: calc(( 15px + 0 * (100vw - 360px) / 1290) * 1.56 );
  }
}
@media (min-width: 1650px) {
  #forty__nav ul li a {
    font-size: 15px;
    line-height: 23.4px;
  }
}
#forty__nav ul li a:after, #forty__nav ul li a:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 1px;
  background-color: #fff;
  -webkit-transition: width 0.3s cubic-bezier(0.18, 0.83, 0.64, 0.97);
  -o-transition: width 0.3s cubic-bezier(0.18, 0.83, 0.64, 0.97);
  transition: width 0.3s cubic-bezier(0.18, 0.83, 0.64, 0.97);
}
#forty__nav ul li a:after {
  left: auto;
  right: 50%;
}
@media (min-width: 1280px) {
  #forty__nav ul li a:hover:after, #forty__nav ul li a:hover:before, #forty__nav ul li a:focus:after, #forty__nav ul li a:focus:before {
    width: calc(50% - 30px);
  }
}
#forty__nav ul li ul {
  display: none;
}

/*# sourceMappingURL=style.css.map */