.l-footer {

  .pure-g {
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.25);
  }

  .primary--section {
    background: linear-gradient(to bottom, transparent 50%, $pale-green 50%);
    position: relative;

    p, a, em {
      color: $colour-text-body-light;
    }

    .footer--block {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

      .address--wrapper,
      .brochure--wrapper,
      .footerNav--wrapper {
        @include responsive-padding-top-bottom(40px, 70px);
      }

      .address--wrapper {
        text-align: center;
        p {
          font-weight: 700;
          margin-bottom: 7px;
        }

        .telephone {
          font-weight: 700;
          @include responsive-font-size-heading(32px, 48px);
          display: block;
          margin-bottom: 15px;
        }

        .email {
          font-weight: 700;
          @include responsive-font-size(18px, 19px);
        }
      }

      .brochure--wrapper {
        text-align: center;
        position: relative;

        &:after {
          content: '';
          position: absolute;
          right: 0;
          top: 40px;
          height: calc(100% - 80px);
          width: 1px;
          background-color: $brand-primary;
        }
        em {
          @include responsive-font-size-heading(24px, 42px);
          font-style: normal;
          letter-spacing: -1px;
        }

        @include mediaMax($tablet-s) {
          display: flex;
          flex-direction: column;

          &:after {
            bottom: 0;
            height: 1px;
            width: 100%;
            top: unset;
          }
        }
      }

      .footerNav--wrapper {
        text-align: center;
        em {
          font-style: normal;
          font-weight: 700;
        }
        ul {
          margin-top: 4px;
          li {
            padding: 2px;
            a {
              padding: 4px;
            }
          }
        }

      }
    }
  }

  hr {
    @include responsive-padding-top-bottom(30px, 90px);
    padding-top: 0 !important;
    background: $pale-green;
  }

  .secondary--section {

    .border--top {
      border-top: 2px solid $dark-green;
      @include responsive-padding-top-bottom(25px, 40px);
    }

    .left--wrapper {
      display: flex;
      justify-content: center;
      p {
        margin-bottom: 0;
        @include responsive-font-size(14px, 14px);
        color: $dark-green;
        @include responsive-margin-left-right(20px, 36px);
        font-weight: 400;
        max-width: 400px;
      }
    }

    .nav__social {
      display: flex;
      align-items: center;
      ul {
        display: inline-block;
        li {
          padding: 0 16px;
          display: inline-block;

          &:last-of-type {
            padding-right: 0;
          }

          &:first-of-type {
            padding-left: 0;
          }

          i {
            font-size: 28px;
            color: $dark-green;
          }

          @include mediaMax($tablet-s) {
            padding-bottom: 14px;
          }
        }
      }
    }

    .wrapper__flex {
      @include mediaMax($tablet-s) {
        display: flex;
        flex-direction: column;
        text-align: center;
      }
    }

    .nav__social{
      @include mediaMax($tablet-s) {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 20px;
      }
    }
  }
}