.l-header {
  $space-between-nav-items: 27px;

  @include responsive-padding-top-bottom(15px, 30px);
  position: fixed;
  width: 100%;
  z-index: 3000;
  transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);

  &.scrolled {

    @include mediaMin($laptop-s) {

      box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.25);
      background-color: $main-background;
      transform: translateY(-80px);

      .l-header__logo {
        transform: scale(0.5) translateY(80px);

        svg {
          .text-logo {
            fill: $colour-text-body;
          }
        }
      }

      .l-header__nav {
        transform: translateY(40px);

        ul {
          li {
            display: inline-block;

            &:last-of-type {
              margin-left: $space-between-nav-items/2;

              a {
                color: $colour-text-body-light;
                background-color: $brand-primary;
              }
            }

            &.active {
              a {
                color: $brand-primary;
              }
            }

            a {
              color: $colour-text-body;

              &:before {
                background-color: $brand-primary;
                top: -28px;
              }

              @include mediaMin($laptop-s) {

                &:hover,
                &:focus {
                  color: $brand-primary;

                  &:before {
                    opacity: 1;
                  }
                }
              }

            }
          }
        }
      }
    }



  }

  &.opened {}

  .l-header__logo {
    line-height: 0;
    transform-origin: left;
    transition: transform 0.5s cubic-bezier(0.7, 0, 0.3, 1);

    @include mediaMin($laptop-s) {

      &:hover,
      &:focus {
        svg {
          .logo {
            //fill: $accent-primary;
          }
        }
      }
    }

    svg {
      fill: #fff;

      @media all and (-ms-high-contrast:none) {
        height: 162px;
        width: 100px;
      }

      .text-logo {
        //fill: $colour-text-body;
        transition: all 0.35s cubic-bezier(0.7, 0, 0.3, 1);
      }
    }
  }

  .right--wrapper {
    display: flex;
    align-items: center;
  }

  .l-header__nav {
    margin: 0 -$space-between-nav-items;
    transition: transform 0.5s cubic-bezier(0.7, 0, 0.3, 1);

    @include mediaMax($laptop-s) {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      margin: 0;
      display: none;
    }

    ul {
      line-height: 0;
      font-size: 0;

      li {
        display: inline-block;
        position: relative;

        &.active {
          a {
            &:before {
              opacity: 1;
            }
          }
        }

        &:last-of-type {
          margin-left: $space-between-nav-items/2;

          a {
            background-color: $colour-text-body-light;
            color: $brand-primary;
            text-transform: uppercase;
            border-radius: 500px;
            font-weight: 700;

            &:before {
              display: none;
            }

            @include mediaMin($laptop-s) {

              &:hover,
              &:focus {
                background-color: $brand-primary;
                color: $colour-text-body-light;
              }
            }
          }
        }

        a {
          color: $colour-text-body-light;
          @include responsive-padding-left-right($space-between-nav-items/2, $space-between-nav-items);
          @include responsive-padding-top-bottom(8px, 13px);
          @include responsive-font-size(16px, 16px);
          transition: all 0.35s cubic-bezier(0.7, 0, 0.3, 1);
          font-weight: 400;

          &:before {
            content: '';
            position: absolute;
            top: -68px;
            left: $space-between-nav-items;
            width: calc(100% - 54px);
            height: 4px;
            background-color: $main-background;
            opacity: 0;
            transition: opacity 0.35s cubic-bezier(0.7, 0, 0.3, 1), background-color 0.35s cubic-bezier(0.7, 0, 0.3, 1), top 0.5s cubic-bezier(0.7, 0, 0.3, 1);
          }

          @include mediaMin($laptop-s) {

            &:hover,
            &:focus {
              &:before {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}