.bg-green{
    background-color: $pale-green;
}

.forty {
    @include responsive-padding-top-bottom(50px, 110px);
}

.forty__wrapper {
    justify-content: start;
}

.forty__block {
    padding: 20px;
}