
.feature-image {
    @include responsive-padding-top-bottom(60px, 120px);
    background-color: $pale-green;
    padding: 50px 0px;
    position: relative;
}

.feature-image__background {
    background: url("../img/content/adult-cleaning.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    z-index: 1;
    position: absolute;
    top: 0;
    width: 55vw;
    height: 100%;
}

.feature-image__text {
    background-color: $main-background;
    padding: 60px;
}

.feature-image__text--wrapper {
    justify-content: flex-end;
    z-index: 1000;
    position: relative;
}

@include mediaMax($tablet-s) {
    .feature-image{
        min-height: 50vh;
    }
    .feature-image__background {
        max-height: 30vh;
        width: 100vw;
    }

    .feature-image__text {
        padding: 20px;
    }

    .feature-image__text--wrapper {
        padding-top: 120px;
    }
}