.subNav__wrapper {
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    overflow: hidden;


    @include mediaMax($laptop-s) {
        display: none;
        pointer-events: none;
    }

    &.is--active {
        .subNav__wrapper--inner {
            transform: translateY(0);
        }
    }

    .subNav__wrapper--inner {
        background-color: #454545;
        width: 100%;
        height: 100%;
        padding: 15px 0;
        transform: translateY(-100%);
        transition: transform 0.4s cubic-bezier(0.7, 0, 0.3, 1);

        ul {
            display: inline-block;
            font-size: 0;
            line-height: 0;
            margin-left: 0 !important;
            opacity: 0;
            transition: opacity 0.4s cubic-bezier(0.7, 0, 0.3, 1);

            &.is--active {
                opacity: 1;
            }

            &.secondary--nav {
                transition: opacity 0.6s;
                opacity: 0;
            }

            li {
                display: inline-block;
                transition: all 0.3s;

                &:first-of-type {
                    padding-left: 0 !important;
                }

                &:last-of-type {
                    padding-right: 0 !important;
                }

                a {
                    @include responsive-font-size(15px, 15px);
                    color: $colour-text-body-light;
                    font-family: $font-beta;
                    font-weight: 700;
                    text-transform: uppercase;
                    padding: 10px 13px;
                    position: relative;
                    transition: 0.4s color;
                }
            }
        }
    }
}




// child menu elements

#forty__nav {
    display: flex;
    justify-content: flex-end;
    transition: transform 0.4s;
    margin-right: -20px;

    ul {
        display: inline-block;
        font-size: 0;
        line-height: 0;
        margin-left: 0 !important;

        @include mediaMax($laptop-s) {
            width: 100%;
        }

        &.secondary--nav {
            transition: opacity 0.6s;
            opacity: 0;
        }

        li {
            display: inline-block;
            transition: all 0.3s;

            &:first-of-type {
                padding-left: 0 !important;
            }

            &:last-of-type {
                padding-right: 0 !important;
            }

            &.active {
                a {

                    &:after,
                    &:before {
                        width: calc(50% - 30px);
                    }
                }
            }

            a {
                @include responsive-font-size(15px, 15px);
                color: $colour-text-body-light;
                font-family: $font-beta;
                font-weight: 700;
                text-transform: uppercase;
                padding: 10px 13px;
                position: relative;
                transition: 0.4s color;

                &:after,
                &:before {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    width: 0;
                    height: 1px;
                    background-color: $colour-text-body-light;
                    transition: width 0.3s cubic-bezier(.18, .83, .64, .97);
                }

                &:after {
                    left: auto;
                    right: 50%;
                }

                @include mediaMin($laptop-s) {

                    &:hover,
                    &:focus {

                        &:after,
                        &:before {
                            width: calc(50% - 30px);
                        }
                    }
                }
            }

            ul {
                display: none;
            }
        }
    }
}