// ==========================================================================
//
// SERVICES - Small and Large 
//
// Description: Styles for two components for servicesSmallList and servicesLargeList 
//
// ==========================================================================



// ==========================================================================
// # SERVICES SMALL
// ==========================================================================

.services-sm {
    @include mediaMax($tablet-l) {
        display: none;
    }
}

.services-sm--padding{
    @include responsive-padding-top-bottom(30px, 60px);
    padding-bottom: 0 !important;
}

.services__wrapper {
    display: flex;
    justify-content: space-between;
}

.services__icon {
    height: 64px;
    margin-bottom: 20px;
}

.services__inner {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    padding: 20px;
}



// ==========================================================================
// # SERVICES LARGE
// ==========================================================================



.services__intro {
    padding-top: 40px;
    padding-bottom: 80px;
    font-size: 20px;
    text-align: center;
    max-width: 920px;
    margin: 0 auto;
}

.services-border {
    transition: box-shadow 0.6s;
    position: relative;

    &:after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        margin: auto;
        height: 10px;
        width: 100%;
        background: transparent;
        transition: background-color .6s ease;                
    }

    &:hover:after{
        width: 100%;
        background:$brand-primary;    
    }

    &:hover {
        box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.15);
    }
}

.services-lg {
    padding: 20px;
    display: flex;
}

.services-lg-spacing {
    @include responsive-padding-top-bottom(40px, 90px);
}

.services__info {
    margin-left: 20px;
}

.services__icon--lg {
    margin-top: 8px;
    height: 73px;
}

.colour-text-body {
    color: $colour-text-body;
}
